@model PagedList<DneWebSite.Models.DCR.Dcr>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DataLayout.cshtml";
}
<div style="margin:30px">
    <h1>DCR管制追蹤</h1>
    <p>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li class="pull-left"><a href="@Url.Action("Create", "Dcrs")" class="btn btn-primary">新增DCR</a></li>
                    <li class="pull-right"><a href="@Url.Action("DownloadDcrList","Dcrs")" class="btn btn-default">匯出Excel</a></li>
                    <li class="pull-right">@if (!User.Identity.IsAuthenticated)
                    {
                        <a href="/account/login?ReturnUrl=%2FDcrs" class="btn btn-success">管理</a>
                    }
                    else
                    {
                        <a href="/account/EasyLogOff" class="btn btn-danger">登出</a>
                    }</li>
                </ul>              
            </div>
        </div>
    </p>
    <div id="loadingDiv" style="display:none"><img src="~/Images/loader.gif" /></div>
    <div id="dcrs">
        @Html.Partial("_DcrList", Model)
    </div>

    
</div>
@section Scripts{
    @{Html.RegisterMvcPagerScriptResource();}     
}