
@model PagedList<DneWebSite.Models.DCR.DcrEvaluation>


@{Html.RenderPartial("_DcrEvaluationDataTable"); }

<div class="text-center">
    @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "page", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>" }).AjaxOptions(a =>
{
    a.SetUpdateTargetId("dcrs");
    a.SetLoadingElementId("loadingDiv");
    a.SetOnBegin("$('#dcrs').fadeOut('slow')");
    a.SetOnComplete("$('#dcrs').fadeIn('slow')");
})
</div>