@model PagedList<DneWebSite.Models.DCR.DcrEvaluation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DataLayout.cshtml";
}

<div style="margin:30px">
    <h1>DCR可行性評估案件管制追蹤</h1>
    <p>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li class="pull-left"><a href="@Url.Action("Create", "DcrEvaluations")" class="btn btn-primary">新增DCR可行性評估案件</a></li>
                    <li class="pull-right"><a href="@Url.Action("DownloadDcrEvaluationList", "DcrEvaluations")" class="btn btn-default">匯出Excel</a></li>
                    <li class="pull-right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="/account/login?ReturnUrl=%2FDcrEvaluations" class="btn btn-success">管理</a>
                    }
                    else
                    {
                        <a href="/account/EasyLogOff" class="btn btn-danger">登出</a>
                    }
                </li>
            </ul>
        </div>
    </div>
</p>
<div id="loadingDiv" style="display:none"><img src="~/Images/loader.gif" /></div>
<div id="dcrEvaluations">
    @Html.Partial("_DcrEvaluationList", Model)
</div>


</div>
