<div class="tp-caption medium_text sfr tp-resizeme"
	data-x="75"
	data-y="100" 
	data-speed="600"
	data-start="1200"
	data-end=""
	data-endspeed="600">
    <div>
        <h1 class="box-title-orange">核能安全承諾</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="box-style-2">
                    <div class="icon-container default-bg circle">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="body">
                        <h2 class="box-title-green">政策聲明</h2>
                        <p>執行本處核能安全政策聲明與</p>
                        <p>總體核能安全工作目標</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-style-2">
                    <div class="icon-container default-bg circle">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="body">
                        <h2 class="box-title-green">設計品質</h2>
                        <p>傳達核能安全和設計品質的重要性</p>
                        <p>並全力推動「核能安全人人有責」之文化</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-style-2">
                    <div class="icon-container default-bg circle">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="body">
                        <h2 class="box-title-green">執行成效</h2>
                        <p>定期審查核能安全及品質</p>
                        <p>有關制度與活動之執行成效</p>
                    </div>
                </div>
                </div>
            </div>
       
      

    </div>
</div>
<div class="tp-caption sfr tp-resizeme"
                     data-x="center"
                     data-y="bottom"
                     data-speed="600"
                     data-start="1200"
                     data-end=""
                     data-endspeed="600" style="margin-bottom: 150px; padding-left: 750px; ">
                    <!--
                <div class="loader-span">
                    <div class="location_indicator"></div>
                </div>
                    -->
                    <div class="location-icon zoom cursor-pointer"></div>
                </div>



