<div class="tp-caption sfr tp-resizeme"
	data-x="75"
	data-y="100" 
	data-speed="600"
	data-start="1200"
	data-end=""
	data-endspeed="600">
    <div>
        <h1 class="box-title-green">核能安全承諾</h1>
        <div class="row">
            <div class="col-md-6">
				<div class="box-style-2">
					<div class="icon-container default-bg circle">
						<i class="fa fa-check"></i>
					</div>
					<div class="body">
						<h2 class="box-title-green">政策聲明</h2>
						<p>執行本處核能安全政策聲明與總體核能安全工作目標</p>
						
					</div>
				</div>
            </div>
		</div>
        <div class="row">
            <div class="col-lg-offset-1 box-style-2">
					<div class="icon-container default-bg circle">
						<i class="fa fa-check"></i>
					</div>
					<div class="body">
						<h2 class="box-title-green">設計品質</h2>
						<p>傳達核能安全和設計品質的重要性，並全</p>
                        <p>力推動「核能安全人人有責」之文化</p>
						
					</div>
				</div>
        </div>          
        <div class="row">
            <div class="col-lg-offset-2 box-style-2">
                <div class="icon-container default-bg circle">
                    <i class="fa fa-check"></i>
                </div>
                <div class="body">
                    <h2 class="box-title-green">執行成效</h2>
                    <p>定期審查核能安全及品質有關制度與活動之執行成效</p>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="tp-caption  sfr tp-resizeme"
                     data-x="1000"
                     data-y="350"
                     data-speed="600"
                     data-start="1200"
                     data-end=""
                     data-endspeed="600">
                    <!--
                <div class="loader-span">
                    <div class="location_indicator"></div>
                </div>
                    -->
                    <div class="location-icon"></div>
                </div>



