  <!-- banner start -->
<!-- ================ -->
<div class="banner">
    <div class="fixed-image section light-translucent-bg" style="background-image:url('../../../images/underConstruction-1.jpg');background-position:bottom">
        <div class="container">
            <div class="space-top"></div>

        </div>
    </div>
</div>
<!-- banner end -->

<div class="container">
    <h1 class="text-center text-info">本頁尚在製作中</h1>
    <div>
        <img src="../../../images/craftsmen-1020156_1280.jpg" style="margin: auto;" alt="" />
    </div>
</div>