
            
            <!-- banner start -->
			<!-- ================ -->
			<div class="banner">
				<div class="fixed-image section light-translucent-bg" style="background-image:url('images/lungmen/abwr.jpg');background-position:100% 130%">
					<div class="container">
					<div class="space-top"></div>
					
					</div>
				</div>
			</div>
			<!-- banner end -->
            
            <!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
								<li class=""><a href="#">工程業務</a></li>
								<li class="active">龍門計畫</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->
            
			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">
						<!-- sidebar start -->
						<aside class="col-md-3">
							<div class="sidebar">
								<div class="block clearfix">
									<h3 class="title">龍門計畫</h3>
									<div class="separator"></div>
									<nav class="affix-menu scrollspy">
										<ul class="smooth-scroll nav nav-pills nav-stacked">
                                            <li><a href="#current" du-smooth-scroll du-scrollspy>龍門FSAR/SER/SRP/封存計畫</a></li>
                                            <li><a href="#license" du-smooth-scroll du-scrollspy>核管會議</a></li>
											<li><a href="#chronicle" du-smooth-scroll du-scrollspy>龍門執照大事紀</a></li>
                                            
											<li><a href="#olddocument" du-smooth-scroll du-scrollspy>重要參考文件</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</aside>
						<!-- sidebar end -->

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-9">

                            <!-- section start -->
                            <!-- ================ -->
                            <div id="current" class="section clearfix">

                                <h2 class="text-left title">龍門FSAR/SER/SRP/封存計畫</h2>
                                <div class="separator-2"></div>
                                <ul class="list-icons">
                                    <li>
                                        <span class="fa fa-pencil-square-o"></span> FSAR
                                        <ul class="no-list-style">
                                            <li><span class="fa fa-file-o"></span> <a href="http://10.144.101.3/FSAR/FSARTXT/2007/" target="_blank">FSAR 2007</a></li>
                                            <li><span class="fa fa-file-o"></span> <a href="http://10.144.101.3/FSAR/FSARTXT/2013/" target="_blank">FSAR 2012</a></li>
                                            <li><span class="fa fa-file-o"></span> <a href="http://10.144.101.3/FSAR/FSARTXT/2013/" target="_blank">FSAR 2015</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="fa fa-pencil-square-o"></span> 龍門SER
                                        <ul class="no-list-style">
                                            <li><span class="fa fa-file-o"></span> <a href="http://10.144.101.3/FSAR/FSARTXT/LungmenSER/" target="_blank">SER 2010</a></li>
                                            <li><span class="fa fa-file-o"></span> <a href="http://10.144.101.3/FSAR/FSARTXT/LungmenSER2013/" target="_blank">SER 2013</a></li>
                                        </ul>
                                    </li>
                                    <li><span class="fa fa-file-o"></span> <a href="http://10.144.101.3/FSAR/FSARTXT/LungmenSRP/" target="_blank">龍門SRP</a></li>
                                    <li><span class="fa fa-file-o"></span> <a href="http://10.144.101.3/LMSealPlan/龍門電廠停工-封存計畫.pdf" target="_blank">龍門電廠停工封存計畫</a></li>
                                </ul>
                            </div>
                            <!-- section end -->

                             <!-- section start -->
                            <!-- ================ -->
                            <div id="license" class="section clearfix">

                                <h2 class="text-left title">核管會議網站</h2>
                                <div class="separator-2"></div>
                                <div class="col-md-5">
                                    <a href="http://10.144.101.3/nednl/index.htm" title="核管會議網站" target="_blank">
                                        <i class="fa fa-external-link"> 核管會議網站</i>
                                    </a>
                                </div>
                                <div class="col-md-5">
                                    <img src="images/lungmen/license.png" />
                                </div>
                                
                         </div>
                            <!-- section end -->
                            <div id="chronicle" class="section">
                                <h2 class="text-left title">龍門大事紀</h2>
                                <div class="text-right"><span class="separator-2"></span></div>
                                <ul class="timeline-v1">
                                    <li>
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body">
                                                <p class="pull-right">1991年12月</p>
                                                <h4>行政院原能會對「台電對原能會審查環境影響評估結果之執行說明」及「環境影響評估報告修訂本」函覆准予核備。</h4>

                                            </div>

                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body">
                                                <p class="pull-left">1992年7月</p>
                                                <h4 class="timeline-block">核四計畫正式恢復動工。</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body">
                                                <p class="pull-right">1997年10月</p>
                                                <h4>台電將初期安全分析報告 (PSAR) 陳送原能會審查，申請建廠執照。</h4>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body">
                                                <p class="pull-left">1999年3月</p>
                                                <h4>行政院原子能委員會核發核四廠建廠執照，建造期限至94年12月。</h4>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-block">
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body timeline-block">
                                                <p class="pull-right">2000年10月</p>
                                                <h4 class="timeline-block">行政院宣佈停建核四。</h4>



                                            </div>

                                        </div>
                                    </li>
                                    <li class="timeline-inverted timeline-block">
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body timeline-block">
                                                <p class="pull-left">2001年2月</p>
                                                <h4 class="timeline-block">行政院宣佈核四復工續建。</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-block">
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body">
                                                <p class="pull-right">2004年12月</p>
                                                <h4 class="timeline-block">台電向原能會提出核四廠建廠執照展延申請。</h4>

                                            </div>

                                        </div>
                                    </li>

                                    <li class="timeline-inverted">
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body">
                                                <p class="pull-left">2005年12月</p>
                                                <h4 class="timeline-block">行政院原子能委員會重新核發核四廠建廠執照，有效期限自95年1月1日至99年12月31日。</h4>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body">
                                                <p class="pull-left">2007年8月</p>
                                                <h4>台電檢陳核四廠終期安全分析報告 (FSAR) 以及相關應檢附資料，向原能會申請一號機核子反應器初次裝填核子燃料。</h4>


                                            </div>

                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body ">
                                                <p class="pull-left">2014年4月</p>
                                                <h4>獲經濟部指示準備提報「龍門電廠停工/封存計畫」。</h4>


                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body ">
                                                <p class="pull-right">2014年9月</p>
                                                <h4>陳報「龍門電廠停工/封存計畫」予原能會。</h4>

                                            </div>

                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body">
                                                <p class="pull-left">2014年12月</p>
                                                <h4>行政院原子能委員會重新核發核四廠建廠執照，同意展延有效期限至109年12月31日。</h4>

                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">

                                            </div>
                                            <div class="timeline-body">
                                                <p class="pull-right">2015年1月</p>
                                                <h4 class="timeline-block">「龍門電廠停工/封存計畫」獲原能會准予備查。</h4>


                                            </div>

                                        </div>
                                    </li>
                                    <!--
        <li class="timeline-inverted">
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">

                </div>
                <div class="timeline-body">

                </div>
            </div>
        </li>
                    -->
                                    <li class="clearfix" style="float: none;"></li>
                                </ul>
                            </div>
                            
                           

                           

                            <!-- section start -->
                            <!-- ================ -->
                            <div id="olddocument" class="section clearfix">

                                <h2 class="text-left title">重要參考文件</h2>
                                <div class="separator-2"></div>
                                <p>龍門計畫因政府封存政策影響，相關文件資料暫無法持續更新，若有需要，請點選下面圖片或<a href="http://10.144.101.3/" target="_blank"><strong>點我</strong>連結舊網查詢</a></p>
                                <a href="http://10.144.101.3/" target="_blank"><img src="images/lungmen/oldPage_Lungmen.png" /></a>
                            </div>
                            <!-- section end -->


						</div>
						<!-- main end -->

                       
					</div>
				</div>
			</section>
			<!-- main-container end -->
			
			<!-- footer start (Add "light" class to #footer in order to enable light footer) -->
			<!-- ================ -->
			<footer id="footer">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="footer-content">
                                    <h3>核能技術處</h3>
									<ul class="list-icons">
										<li><i class="fa fa-map-marker pr-10"></i>地址:10016 臺北市羅斯福路三段242號 20樓</li>
										<li><i class="fa fa-phone pr-10"></i>總機電話:02-23651234</li>
										<li><i class="fa fa-fax pr-10"></i>傳真:02-23667555</li>
									</ul>
									<p>Copyright © 2016 核能技術處</p>
								</div>
							</div>
							<div class="space-bottom hidden-lg hidden-xs"></div>
							
							<div class="col-md-2">
								<div class="footer-content">
									<h4 class="headline">常用連結</h4>
									<nav>
										<ul class="nav nav-pills nav-stacked">
											<li><a href="http://portal.taipower.com.tw/wps/portal/!ut/p/.scr/Login">單一入口網站</a></li>
											<li><a href="blog-right-sidebar.html">電話簿</a></li>
											<li><a href="portfolio-3col.html">公文查詢</a></li>
											<li><a href="page-about.html">檔案分類表</a></li>
											<li><a href="page-contact.html">訓練教材</a></li>
										</ul>
									</nav>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="footer-content">
									<h4 class="headline">核能相關網站</h4>
									<div class="row">
										<div class="col-md-4">
											<nav>
												<ul class="nav nav-pills nav-stacked">
													<li><a href="index.html">核能發電處</a></li>
													<li><a href="blog-right-sidebar.html">核能安全處</a></li>
													<li><a href="portfolio-3col.html">核能後端處</a></li>
													<li><a href="page-about.html">緊執會</a></li>
												</ul>
											</nav>
										</div>
										<div class="col-md-4">
											<nav>
												<ul class="nav nav-pills nav-stacked">
													<li><a href="#">核一廠</a></li>
													<li><a href="#">核二廠</a></li>
													<li><a href="#">核三廠</a></li>
													<li><a href="#">龍門電廠</a></li>
													<li><a href="#">放射實驗室</a></li>
												</ul>
											</nav>	
										</div>
										<div class="col-md-4">
											<nav>
												<ul class="nav nav-pills nav-stacked">
													<li><a href="#">原子能委員會</a></li>
													<li><a href="#">核能研究所</a></li>
													<li><a href="#">美國NRC</a></li>
													<li><a href="#">EPRI</a></li>
													
												</ul>
											</nav>
										</div>
									</div>	
									
									
								</div>
							</div>
							
							
						</div>
						<div class="space-bottom hidden-lg hidden-xs"></div>
					</div>
				</div>
				<!-- .footer end -->
			</footer>
			<!-- footer end -->
