@using Webdiyer.WebControls.Mvc
@using DneWebSite.Models.bulletin
@model PagedList<Post>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">首頁</a></li>
                    <li class="active">公佈欄管理</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">



    <h2>佈告事項清單</h2>

    <a href="@Url.Action("Create")" class="btn btn-info">新增佈告</a>


    <div id="posts">
    @Html.Partial("_PostList", Model)
    </div>
</div>


@{Html.RegisterMvcPagerScriptResource();}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}