
            
            <!-- banner start -->
			<!-- ================ -->
			<div class="banner">
				<div class="fixed-image section light-translucent-bg" style="background-image:url('../../../../images/gosp/gosp.png');background-position:100% 100%">
					<div class="container">
					<div class="space-top"></div>
					
					</div>
				</div>
			</div>
			<!-- banner end -->
            
            <!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><i class="fa fa-home pr-10"></i><a ui-sref="home">首頁</a></li>
								<li class=""><a href="#">工程業務</a></li>
								<li class="active">GOSP工程與設計功能績效</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->
            
			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container" ng-controller="gospCtrl as g">

    <div class="container">
        <div class="row">
            <!-- sidebar start -->
            <aside class="col-md-2">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">工程與設計功能績效</h3>
                        <div class="separator"></div>
                        <nav class="affix-menu scrollspy">
                            <ul class="smooth-scroll nav nav-pills nav-stacked">
                                <li><a href="#current" du-smooth-scroll du-scrollspy>當季績效</a></li>
                                <li><a ng-href="http://{{h.host}}/資料/2工程業務/6GOSP績效指標" target="_blank">歷史績效記錄</a></li>
                                <li><a href="/gospengineerings" target="_blank">更新當季績效</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-10">

                <!-- section start -->

                <div id="current" class="section clearfix">

                    <h2 class="text-center title"><span class="fa fa-dashboard"></span>當季績效</h2>
                    
                    <div class="separator"></div>

                    <table class="table table-hover table-condensed table-border table-striped">
                        <thead>
                            <tr>
                                <th class="text-center"><span class="fa fa-heartbeat"></span> 指標/電廠</th>
                                <th>核一廠</th>
                                <th>核二廠</th>
                                <th>核三廠</th>
                                <th>龍門電廠</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="s in g.gosps.scores">
                                <td><span class="fa fa-street-view"></span> {{s.name}}</td>
                                <td>{{s.values[0]}}<img ng-src="../../../../images/gosp/{{g.getPicFileName(s.values[0])}}.png" alt="" /></td>
                                <td>{{s.values[1]}}<img ng-src="../../../../images/gosp/{{g.getPicFileName(s.values[1])}}.png" alt="" /></td>
                                <td>{{s.values[2]}}<img ng-src="../../../../images/gosp/{{g.getPicFileName(s.values[2])}}.png" alt="" /></td>
                                <td>{{s.values[3]}}<img ng-src="../../../../images/gosp/{{g.getPicFileName(s.values[3])}}.png" alt="" /></td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- ================

                    </div>
                    <!-- section end -->
                    <!-- section start -->
                    <!-- ================ -->







                </div>
                <!-- main end -->


            </div>
        </div>
</section>
			<!-- main-container end -->
			
