<!-- calendar start -->
<div class="section">
    <div class="container">
        <h1 class="text-center title">行事曆</h1>
        <div class="separator"></div>
		

		<div class="col-sm-10">
			<div class="checkbox">
		      	
		        <input type="checkbox"><div style="width:13px;height:13px;background:#5cb85c;"></div>		        
		    </div>
		</div>

        <form ng-controller="datetimeCtrl as dt" id="datetimepicker">
			    <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="dt.myDate" is-open="dt.isOpen" datepicker-options="dt.dateOptions" timepicker-options="dt.timeOptions" default-time="dt.now" />
			    <span class="input-group-btn">
			        <button type="button" class="btn btn-default" ng-click="dt.openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
			    </span>			    
  		</form>


		
        <div ui-calendar="admin.uiConfig.calendar" ng-model="admin.eventSources"></div>    


    </div>    
</div>