  <!-- banner start -->
<!-- ================ -->
<div class="banner">
    <div class="fixed-image section light-translucent-bg" style="background-image:url('../../../../../images/underConstruction-1.jpg');background-position:bottom">
        <div class="container">
            <div class="space-top"></div>

        </div>
    </div>
</div>
<!-- banner end -->

<div class="container" style="margin-top:100px">
    <h1 class="text-center text-info">本處無訂定公司章則</h1>
    <div style="text-align:center; margin:50px;">
        <a class="btn btn-primary" href="/">回首頁</a>
    </div>
    
</div>