<!-- banner start -->
<!-- ================ -->
<div class="banner">
    <div class="fixed-image section light-translucent-bg" style="background-image:url('images/lungmen/abwr.jpg');background-position:100% 130%">
        <div class="container">
        <div class="space-top"></div>

        </div>
    </div>
</div>
<!-- banner end -->

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a ui-sref="home">首頁</a></li>
                    <li class="active">常用下載</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->


<!-- main-container start -->
<!-- ================ -->
<section class="main-container icons-page">

    <div class="container">
        <div class="row">

             <!-- sidebar start -->
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">常用表單及軟體下載</h3>
                        <div class="separator"></div>
                        <nav class="affix-menu scrollspy">
                            <ul class="smooth-scroll nav nav-pills nav-stacked">
                                <li class="active"><a href="#header-1">人資服務表格</a></li>
                                <li><a href="#header-2">策劃組表格</a></li>
                                <li><a href="#header-3">其他常用表格</a></li>
                                <li><a href="#software">常用軟體</a></li>
                            </ul>
                        </nav>
                    </div>
                    
                </div>
            </div>
            <!-- sidebar end -->


            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-9">

                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">常用表單及軟體下載</h1>
                <!-- page-title end -->
                <div id="header-1">
                    <h2 class="page-header">人資表格</h2>
                    <p>

                        核能技術處人員升遷甄審申請表

                        2.
                        升任派用人員七等、雇用人員十二等以上人員考核表

                        3.
                        核能技術處加班抽查報告表

                        4.
                        核能技術處抽查報告表

                        5.
                        眷屬健康保險異動申請書

                        6.
                        請發各項證明書申請單

                        7.
                        分類13等(含)以下非單位主管人員派用人員非公務申請赴大陸申請表(含注意事項併申請表一起呈核)

                        8.
                        分類13等(含)以下派用人員公務赴大陸地區申請表

                        9.
                        分類14等(含)以上派用人員赴大陸申請表

                        10.
                        台電公司單位主管以上人員非因公務出國申請書

                        11.
                        友邦人壽理賠申請書

                        12.
                        性別影響評估檢視表(中長程個案計畫)

                        13.
                        性別影響評估檢視表(法律案)

                        14.
                        員工超時工作出勤卡

                        15.
                        103新版出返國申報表

                        16.
                        核能發電系統輪值調換申請單


                    </p>
                </div>

                <div id="header-2">
                    <h2 class="page-header">策劃組表格</h2>

                </div>

                <div id="header-3">
                    <h2 class="page-header">其他常用表格</h2>

                </div>

                <div id="software">
                    <h2 class="page-header">常用軟體下載</h2>
                    <p>
                        三、 可攜式文件閱讀程式
                        1. PDFreader Reader (9.1)中文版
                        2. Foxit Reader Acrobat閱讀程式，將執行檔和字型置同資料夾，不必安裝。
                        3. DynaDoc-IE 網路上WDL文件閱讀程式，需透過 IE 瀏覽器閱讀
                        4. DynaDoc-Reader2005 中文版WDL閱讀程式
                        四、 cPicture --- 很好用的相片瀏覽軟體(免費的，可取代ACDsee)
                        五、 Bentely View --- 可閱讀 DWG、DGN等圖檔
                        六、 VISIO VIEWER --- 可閱讀 Microsoft VISIO檔
                        七、 AutoCAD VIEWER --- 可閱讀 .dwg檔
                        八、 Office2007 轉舊格式軟體 --- 可轉換.docx, xlsx, pptx→.doc, .xls, .ppt
                        九、 其他
                        1. 資訊處提供之常用軟體
                        2. 看圖程式 irfanview 3.95版 及 中文化
                        下載後請先安裝iview395.exe 再安裝中文化
                        十、 Proxy Setup
                    </p>
                </div>



            </div>
            <!-- main end -->



        </div>
    </div>
</section>
<!-- main-container end -->