<p style="font-size:24px !important">
    原電子郵件服務(https://webmail.taipower.com.tw/)將於<span class="label label-danger"><strong>106年10月30日</strong></span>終止使用，由<span class="label label-success">雲端電子郵件服務(https://cloudmail.taipower.com.tw/)</span>取代，
    請同仁儘速依「雲端電子郵件服務使用手冊」設定<span class="label label-primary">(第13-15頁為修改重點)</span>，切換至新服務。

</p>

<p>
    <a href="http://10.16.9.105/files/f08/雲端電子郵件服務使用手冊.pdf" target="_blank">雲端電子郵件服務使用手冊下載</a>
</p>

<div class="alert alert-danger" style="font-size:28px">
    再次提醒您的Outlook 帳戶設定變更工作，務必儘早修正，否則106年10月30日後，
    您將會面臨接收不到郵件的窘境。
</div>
  

