<!-- banner start -->
<!-- ================ -->
<div class="banner">

	<!-- slideshow start -->
	<!-- ================ -->
	<div class="slideshow">
		
		<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-banner-container">
			<div class="slider-banner">
				<ul>
					
					<!-- slide 5 start -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="核一廠">
					
					<!-- main image -->
					<img src="images/home/seoa.jpg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


					</li>
					<!-- slide 5 end -->
					
					<!-- slide 1 start -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="核一廠">
					
					<!-- main image -->
					<img src="images/home/nuclear1.jpg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


					</li>
					<!-- slide 1 end -->
					
					
					<!-- slide 4 start -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="核二廠">
					
					<!-- main image -->
					<img src="images/home/nuclear2_3.jpg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

					

					</li>
					<!-- slide 4 end -->


					<!-- slide 2 start -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme" >
					
					<!-- main image -->
					<img src="images/home/ChinshanSpentFuel.jpg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

					

					</li>
					<!-- slide 2 end -->
					
					<!-- slide 3 start -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
					
					<!-- main image -->
					<img src="images/home/Nuclear_Power_Plant_Lungmen_2.jpg"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

					

					</li>
					<!-- slide 3 end -->
					
					
					
				</ul>	
				<div class="tp-bannertimer tp-bottom"></div>
			</div>
		</div>
		<!-- slider revolution end -->

	</div>
	<!-- slideshow end -->

</div>
<!-- banner end -->


<!-- calendar start -->
<div class="section">
    <div class="container" ng-controller="calViewCtrl as c">
        <h1 class="text-center title">行事曆</h1>
        <div class="separator"></div>
        <div ui-calendar="c.uiConfig.calendar" ng-model="c.eventSources"></div>    
    </div>    
</div>

<!-- calendar end -->

<!-- parallax section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg-2">
	<div class="container">
		<div class="call-to-action">
			<div class="row">
				<div class="col-md-8">
					<h1 class="title text-center"></h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- parallax section end -->


<!-- section start -->
<!-- ================ -->
<div class="gray-bg section">
	<div class="container">
	    <h1 class="text-center title">核心業務</h1>
	    <div class="separator"></div>
		<div class="row grid-space-20">
			<div class="col-md-4">
				<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
					<div class="overlay-container shadow">
						<img src="images/portfolio-3.png" alt="">
					</div>
					<h3><a href="portfolio-item.html">龍門計畫</a></h3>
					<p>(簡單說明)</p>
					<a href="lungmen.html" class="btn btn-default">了解更多.....</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
					<div class="overlay-container shadow">
						<img src="images/portfolio-2.png" alt="">
						
					</div>
					<h3><a href="portfolio-item.html">電廠改善工程</a></h3>
					<p>(簡單說明)</p>
					<a href="#" class="btn btn-default">了解更多.....</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
					<div class="overlay-container shadow">
						<img src="images/portfolio-1.png" alt="">
					</div>
					<h3><a href="portfolio-item.html">研究發展計畫</a></h3>
					<p>(簡單說明)</p>
					<a href="#" class="btn btn-default">了解更多.....</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section end -->

<!-- parallax section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- parallax section end -->



<script src="js/rev-slider-init.js"></script>

<script src="js/animations-init.js"></script>
