<!-- ================
       <div class="header-top">
           <div class="container">
               <div class="row">
                   <div class="col-md-8 col-md-offset-4">

                       <div class="clearfix">
                           <ul class="social-links clearfix">
                               <li><a ui-sref="v1"><span class="fa fa-html5"></span> v1</a></li>
                               <li><a ui-sref="v2"><span class="fa fa-html5"></span> v2</a></li>
                               <li><a href="http://portal.taipower.com.tw/wps/portal/!ut/p/.scr/Login"><span class="fa fa-hand-o-up"></span> 單一入口網站</a></li>

                               <li><a ui-sref="downloads"><span class="fa fa-download"></span> 常用表單/資料</a></li>
                               <li><a href="ftp://10.16.7.109/"><span class="fa fa-folder-open"></span> 公司FTP</a></li>
                               <li><a href="ftp://10.144.103.4/"><span class="fa fa-folder"></span> 龍門工地FTP</a></li>
                               <li><a ui-sref="sitemap"><span class="fa fa-sitemap"></span> 網站地圖</a></li>
                               <li><a ng-href="http://{{h.host}}/"><span class="fa fa-external-link"></span> 舊版網頁</a></li>


                           </ul>

                       </div>


                   </div>

               </div>
           </div>
       </div>-->
<!-- header-top-first end -->
<header id="v0" class="header fixed clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <!-- header-left start -->
                <!-- ================ -->
                <div class="clearfix">

                    <!-- logo -->
                    <div class="logo">
                        <a href="/"><img id="logo" src="../../../images/dne_small.png" alt="核能技術處"></a>
                    </div>

                </div>

                <!-- header-left end -->

            </div>
            <div class="col-md-9">

                <!-- header-right start -->
                <!-- ================ -->
                <div class="clearfix">

                    <!-- main-navigation start -->
                    <!-- ================ -->
                    <div class="main-navigation" ng-controller="homeCtrl as h">

                        <!-- navbar start -->
                        <!-- ================ -->
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">

                                <!-- Toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <a href="/" class="dropdown-toggle" data-toggle="dropdown">關於本處</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">組織與人員</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處組織系統圖.doc">處組織系統圖</a></li>
                                                        <li><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處執行龍門計畫任務編組組織圖.doc">執行龍門計畫任務編組組織</a></li>
                                                        <li><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處職掌.doc">核技處工作執掌</a></li>
                                                        <li><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處辦事細則.doc">辦事細則</a></li>
                                                        <li><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處組織系統圖-%20英文.doc">組織系統圖-英文</a></li>
                                                        <li><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處執行龍門計畫任務編組組織圖-英文.doc">執行龍門計畫任務編組組織-英文</a></li>
                                                        <li><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處職務代理名單.doc">職務代理名單</a></li>
                                                        <li><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處組織系統圖.doc">人力分析</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a ng-href="http://{{h.host}}/電子公事包/7.2.8%20年度目標/年度目標.doc">年度目標</a>
                                                </li>


                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">電話簿</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a ng-href="http://{{h.host}}/Aa/tel-mail/dnetel.htm" target="_blank">台北辦公室</a></li>
                                                        <li><a ng-href="http://{{h.host}}/Aa/tel-mail/dnelm-tel.htm" target="_blank">SEO辦公室</a></li>

                                                    </ul>
                                                </li>
                                                <!--
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">內部規章</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a ng-href="http://{{h.host}}/Aa/tel-mail/dnetel.htm" target="_blank">公司章則</a></li>
                                                        <li><a ng-href="http://{{h.host}}/Aa/tel-mail/dnelm-tel.htm" target="_blank">系統章則</a></li>
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">處內章則</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a ng-href="http://{{h.host}}/procedure/index.htm" target="_blank">作業程序書</a></li>
                                                                <li><a href="http://10.2.1.2/upfile/upload/組法組/103總處共同事項分層負責明細表(全版)文書類修正(發文版)1030217(1030812排版修改).doc" target="_blank">總管理處分層負責表</a></li>
                                                                <li><a ng-href="http://{{h.host}}/Aa/Aa01/step_960601.doc" target="_blank">處內分層負責表</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                 -->

                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">工程業務</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">龍門計畫業務</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a ui-sref="lungmenIntro">龍門計畫簡介</a></li>
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SEO相關業務</a>
                                                            <ul class="dropdown-menu">


                                                                <li><a href="http://10.20.1.5/source/2lco/asp/ddasp.asp" target="_blank">送LCO品質文件清單</a></li>
                                                                <li><a href="http://10.144.101.5/support/" target="_blank">電氣Raceway Support管制表</a></li>

                                                            </ul>
                                                        </li>
                                                    </ul>

                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">運轉中電廠相關資料</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">FSAR</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="http://10.141.13.3/安管股/核一廠FSAR/核一廠FSAR章節.htm" target="_blank">核一廠FSAR</a></li>
                                                                <li><a href="http://10.142.20.9/FSAR" target="_blank">核二廠FSAR</a></li>
                                                                <li><a href="http://10.143.15.53/FSAR/FSAR目錄.htm" target="_blank">核三廠FSAR</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">電廠改善工程</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">圍阻體排氣系統</a></li>
                                                    </ul>
                                                </li>


                                                <li>
                                                    <a href="#">研究發展計畫</a>
                                                </li>
                                                <li>
                                                    <a href="#">除役/延役計畫</a>
                                                </li>
                                                <li>
                                                    <a href="#">支援大修心得簡報</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">查詢系統</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">公文查詢</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a ng-href="http://{{h.host}}/swims/CorrespondenceList.asp">公文查詢(新版)</a></li>
                                                        <li><a href="http://10.20.1.4/source/neddoc/asp/ddasp.asp">公文查詢(舊版)</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">SEO業務相關系統</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="http://10.144.101.5/overtime/" target="_blank">SEO(AE)加班請假管理系統</a></li>
                                                        <li><a href="http://10.144.101.5/seo/" target="_blank">編號暨文件修改登錄</a></li>
                                                        <li><a href="http://10.144.101.5/drawing/" target="_blank">圖檔查詢及修改作業系統</a></li>
                                                    </ul>
                                                </li>


                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">SEO案件查詢</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="http://203.67.79.80/lungmencts/default.aspx">Lungmen CTS</a></li>
                                                        <li><a href="http://10.144.101.5/document/">管制文件查詢</a></li>
                                                        <li><a href="http://10.144.101.5/documentfpr/Fpr_List.aspx">FPR處理現況</a></li>
                                                        <li><a href="http://10.144.101.5/rap">RAP處理現況</a></li>
                                                        <li><a href="http://10.144.102.191/dcis_iodb_control/">IO/FXDB、DCT查詢</a></li>
                                                        <li><a href="http://10.144.101.5/seo/filesearch.aspx">SEO歸檔文件查詢</a></li>
                                                        <li><a href="http://10.144.101.5/carms/carmslist.aspx" target="_blank">涉及CARMS資料修改查詢</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="http://10.144.101.5/seoHtml/DneControlLog/DneControlLog.asp" target="_blank">DNE Control Log(新版)</a></li>
                                                <li><a href="http://10.144.101.5/designdocument/">DNE Control Log(舊版)</a></li>

                                                <li><a href="http://10.144.101.5/seoHtml/GeIms/J05.asp" target="_blank">GEH IMS-J05查詢</a></li>
                                                <li><a href="http://10.144.101.5/seoHtml/GeIms/J07.asp" target="_blank">GEH IMS-J07查詢</a></li>
                                                <li><a ng-href="http://{{h.host}}/Resource/Objectopia.htm" target="_blank">Hitachi Objectopia</a></li>



                                            </ul>
                                        </li>

                                        <!-- mega-menu start -->
                                        <li class="dropdown mega-menu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">日常業務</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h4>處內一般業務</h4>
                                                            <div class="divider"></div>
                                                            <ul class="menu">
                                                                <li><a ng-href="http://{{h.host}}/nuclearjournal/nuclearjournallist.aspomponents-tabs-and-pills.html"><i class="icon-right-open"></i>核能月刊</a></li>
                                                                <li><a ng-href="http://{{h.host}}/safety/safety1.htm"><i class="icon-right-open"></i>核安文化</a></li>
                                                                <li><a ng-href="http://{{h.host}}/km/km1.htm"><i class="icon-right-open"></i>資通安全</a></li>
                                                                <li><a ui-sref="meeting"><i class="icon-right-open"></i>會議紀錄</a></li>
                                                                <li><a ng-href="http://{{h.host}}/source/nedmeeting/loginpjtor.asp"><i class="icon-right-open"></i>設備預約</a></li>
                                                                <li><a ng-href="http://{{h.host}}/Resource/MeetingRoomList.asp"><i class="icon-right-open"></i>會議室預約</a></li>

                                                            </ul>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h4>內部規章</h4>
                                                            <div class="divider"></div>
                                                            <ul class="menu">
                                                                <li><a href="http://w3-old.taipower.com.tw/" target="_blank"><i class="icon-right-open"></i>公司章則(W3舊網->各項規章)</a></li>
                                                                <li><a href="http://10.18.8.153/d05607/procedure/核發處內部規章/new_page_2.htm" target="_blank"><i class="icon-right-open"></i>核能事業部章則</a></li>
                                                                <li><a ng-href="http://{{h.host}}/procedure/index.htm"><i class="icon-right-open"></i>處內章則/程序書</a></li>


                                                            </ul>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h4>處資料室</h4>
                                                            <div class="divider"></div>
                                                            <ul class="menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#newJournal"><i class="icon-right-open"></i>新到期刊</a></li>
                                                                <li><a href="#" data-toggle="modal" data-target="#newJournalComment"><i class="icon-right-open"></i>核能外文期刊閱覽評註</a></li>
                                                                <li><a ng-href="http://{{h.host}}/feedback/feedbacklist.asp" target="_blank"><i class="icon-right-open"></i>核能發電回饋系統</a></li>
                                                                <li><a href="http://10.16.10.96/webhelp/tn.htm" target="_blank"><i class="icon-right-open"></i>核能資訊檢索系統</a></li>

                                                                <li><a href="http://qp8.taipower.com.tw/LotusQuickr/t01029/Main.nsf/h_Toc/cc456e361318c65648257248002247a0/?OpenDocument"><i class="icon-right-open"></i>知識管理協同園地</a></li>
                                                                <li><a href="http://portal.taipower.com.tw/wps/myportal/!ut/p/_s.7_0_A/7_0_86H/.cmd/ad/.c/6_0_779/.ce/7_0_86L/.p/5_0_7GL/.d/0#7_0_86L"><i class="icon-right-open"></i>台電分散式知識管理系統</a></li>


                                                                <li><a ng-href="http://{{h.host}}/電子公事包/7.2.2.4%20國際合作資訊/國際合作資訊%20-%20例行會議.docx" target="_blank"><i class="icon-right-open"></i>國際合作資訊</a></li>
                                                                <li><a ng-href="http://{{h.host}}/bulletin/report.htm" target="_blank"><i class="icon-right-open"></i>研討會資料</a></li>
                                                                <li><a ng-href="http://{{h.host}}/train_material-0/train_home.htm"><i class="icon-right-open"></i>訓練教材</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>
                                        </li>
                                        <!-- mega-menu end -->
                                        <!-- mega-menu start -->
                                        <li class="dropdown mega-menu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">核能單位</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h4>總處核能單位</h4>
                                                            <div class="divider"></div>
                                                            <ul class="menu">
                                                                <li><a href="http://10.141.200.68/" target="_blank">核能發電處</a></li>
                                                                <li><a href="http://10.19.1.1/" target="_blank">核能安全處</a></li>
                                                                <li><a href="http://10.57.50.20/nbmd/" target="_blank">核能後端營運處</a></li>
                                                                <li><a href="ftp://10.16.7.109/002%C1%60%B8g%B2z%B0%C6%C1%60%B8g%B2z%AB%C7/%AE%D6%AF%E0%B7%BE%B3q%A4p%B2%D5/" target="_blank">核能溝通中心</a></li>
                                                                <li><a href="http://10.27.1.119/" target="_blank">核能緊執會</a></li>

                                                            </ul>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h4>各核能發電廠及相關單位</h4>
                                                            <div class="divider"></div>
                                                            <ul class="menu">
                                                                <li><a href="http://10.141.200.68/" target="_blank">核一廠</a></li>
                                                                <li><a href="http://10.142.10.11/" target="_blank">核二廠</a></li>
                                                                <li><a href="http://10.143.13.205/" target="_blank">核三廠</a></li>
                                                                <li><a href="http://10.144.99.99/" target="_blank">龍門電廠</a></li>
                                                                <li><a href="http://10.144.99.99/revalidationweb/default.aspx" target="_blank">安全檢測小組</a></li>
                                                                <li><a href="http://10.67.32.12/" target="_blank">放射實驗室</a></li>
                                                                <li><a href="http://10.175.20.110/lm/" target="_blank">龍門施工處</a></li>


                                                            </ul>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h4>公司外核能相關單位</h4>
                                                            <div class="divider"></div>
                                                            <ul class="menu">
                                                                <li><a target="_blank" href="http://www.aec.gov.tw/">原子能委員會</a></li>
                                                                <li><a target="_blank" href="http://www.iner.gov.tw/siteiner/wSite/mp?mp=INER">核能研究所</a></li>
                                                                <li><a target="_blank" href="http://tnaweb.org.tw/">台灣核能級產業發展協會</a></li>
                                                                <li><a target="_blank" href="http://www.nrc.gov/">美國NRC</a></li>
                                                                <li><a target="_blank" href="http://www.epri.com/Pages/Default.aspx">EPRI</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>
                                        </li>
                                        <!-- mega-menu end -->



                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">常用連結</a>
                                            <ul class="dropdown-menu">


                                                <li><a target="_blank" href="http://w3.taipower.com.tw/tpc/web/index.aspx">公司內部企業網站</a></li>
                                                <li><a target="_blank" href="http://www.taipower.com.tw/">台灣電力公司網站</a></li>
                                                <li><a target="_blank" href="http://www.taipower.com.tw/content/new_info/new_info01.aspx">公司營運資訊揭露</a></li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">網路學習</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="https://elearning.taipower.com.tw/eHRDWeb/Login.html" target="_blank">台電網路學院</a></li>
                                                        <li><a href="https://elearning.hrd.gov.tw/index.php" target="_blank">E等公務園學習網</a></li>
                                                    </ul>
                                                </li>


                                                <li><a target="_blank" href="https://webmail.taipower.com.tw/">Webmail</a></li>

                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">同心園地</a>
                                            <ul class="dropdown-menu">

                                                <li><a target="_blank" href="http://10.10.7.200/tph2h2/index.asp">總管理處同心園地</a></li>
                                                <li><a target="_blank" href="http://10.19.1.1/同心園地.htm">核能發電系統同心園地</a></li>
                                                <li><a target="_blank" href="#">核技處同心園地</a></li>
                                                <li><a target="_blank" href="http://10.144.101.5/board/board.aspx">核技處留言板</a></li>

                                                <li><a target="_blank" href="http://10.18.8.153/d05608/together/index.html">核發處同心園地</a></li>
                                                <li><a target="_blank" href="http://10.19.1.1/核安同心園地.htm">核安處同心園地</a></li>

                                                <li><a target="_blank" href="http://10.57.50.18/garden/">核後端同心園地</a></li>

                                            </ul>
                                        </li>

                                    </ul>

                                </div>

                            </div>
                        </nav>
                        <!-- navbar end -->

                    </div>
                    <!-- main-navigation end -->

                </div>
                <!-- header-right end -->

            </div>
        </div>
    </div>
</header>
<!-- header end -->
<!-- Modal -->
<div class="modal fade" id="newJournal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="newJournalLabel">新到期刊</h4>
            </div>
            <div class="modal-body">

                <ul class="list-icons">
                    <li><span class="fa fa-clone"></span><a href="http://10.16.10.96/tnhtml/booknew.htm" target="_blank"> 新到圖書</a></li>
                    <li><span class="fa fa-clone"></span><a href="http://10.16.10.96/tnhtml/magznew.htm" target="_blank"> 新到期刊</a></li>
                    <li><a href="http://10.16.10.96/tnhtml/drawnew.htm" target="_blank"><span class="fa fa-clone"></span> 新到圖面</a></li>
                    <li><a href="http://10.16.10.96/tnhtml/specnew81.htm" target="_blank"><span class="fa fa-clone"></span> 新到規範</a></li>
                    <li><a href="http://10.16.10.96/tnhtml/specnew80.htm" target="_blank"><span class="fa fa-clone"></span> 新到說明書</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newJournalComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="newJournalCommentLabel">核能外文期刊閱覽評註</h4>
            </div>
            <div class="modal-body">

                <ul class="list-icons">
                    <li><span class="fa fa-clone"></span><a ng-href="http://{{h.host}}/eReferenceRoom/AmericanSociety.htm" target="_blank"> American Society of Civil Engineering</a></li>
                    <li><span class="fa fa-clone"></span><a ng-href="http://{{h.host}}/eReferenceRoom/Corrosion.htm" target="_blank"> Corrosion</a></li>
                    <li><span class="fa fa-clone"></span><a ng-href="http://{{h.host}}/eReferenceRoom/ICRP.htm" target="_blank"> ICRP</a></li>
                    <li><a ng-href="http://{{h.host}}/eReferenceRoom/JournalofG&Geo.htm"><span class="fa fa-clone"></span> Journal of Geotechnical and Geo environmental Engineering</a></li>
                    <li><a ng-href="http://{{h.host}}/eReferenceRoom/NEI.htm" target="_blank"><span class="fa fa-clone"></span> Nuclear Engineering International</a></li>
                    <li><a ng-href="http://{{h.host}}/eReferenceRoom/Serch.htm" target="_blank"><span class="fa fa-clone"></span> Serch</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div>
    
    <!-- slideshow start -->
    <!-- ================ -->

    <div>

        <div class="row">

            <div class="col-md-10">
                <!-- slider revolution start -->
                <!-- ================ -->

                <div class="slider-banner-container">
                    <div class="slider-banner ">
                        <ul >

                            <!-- slide 5 start -->
                            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="核一廠">

                                <!-- main image -->
                                <img src="../../../images/home/Nuclear_Power_Plant_Lungmen_2.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


                            </li>
                            <!-- slide 5 end -->
                           
                           
                            <!-- slide 1 start -->
                            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="核一廠">

                                <!-- main image -->
                                <img src="images/home/nuclear1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


                            </li>
                            <!-- slide 1 end -->
                            <!-- slide 4 start -->
                            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="核二廠">

                                <!-- main image -->
                                <img src="images/home/nuclear2_3.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">



                            </li>
                            <!-- slide 4 end -->

                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div>
                    </div>
                </div>

                <!-- slider revolution end -->
            </div>

            <div class="col-md-2">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">快速導覽</h3>
                        <div class="separator"></div>
                        <nav>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="http://portal.taipower.com.tw/wps/portal/!ut/p/.scr/Login" target="_blank"><span class="fa fa-hand-o-up"></span> 單一入口網站</a></li>
                                <li><a href="#calendar" du-smooth-scroll du-scrollspy><span class="fa fa-calendar"></span> 行事曆</a></li>
                                <li><a href="#bulltin" du-smooth-scroll du-scrollspy><span class="fa fa-briefcase"></span> 公佈欄</a></li>
                                <li><a ui-sref="downloads"><span class="fa fa-download"></span> 常用表單/資料</a></li>
                                <li><a href="ftp://10.16.7.109/"><span class="fa fa-folder-open"></span> 公司FTP</a></li>
                                <li><a href="ftp://10.144.103.4/"><span class="fa fa-folder"></span> 龍門工地FTP</a></li>
                                <li><a ui-sref="sitemap"><span class="fa fa-sitemap"></span> 網站地圖</a></li>
                                <li><a href="https://elearning.taipower.com.tw/eHRDWeb/Login.html" target="_blank"><span class="fa fa-book"></span> 台電網路學院</a></li>
                                <li><a ui-sref="v1"><span class="fa fa-html5"></span> v1</a></li>
                                <li><a ui-sref="v2"><span class="fa fa-html5"></span> v2</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- slideshow end -->

</div>
<!-- banner end -->


<div class="section" id="calendar">
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div ng-controller="calViewCtrl as c">
                    <h1 class="text-center title">行事曆</h1>
                    <div class="separator"></div>
                    <div  ui-calendar="c.uiConfig.calendar" ng-model="c.eventSources"></div>
                </div>

            </div>
        </div>
    </div>
    
    </div>
<!-- parallax section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg-2">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- parallax section end -->
    
<div class="section" id="bulltin">
        
    <div class="container" ng-controller="gridCtrl as g">
           
        <div class="row">
            <h1 class="text-center title">佈告欄</h1>
            <div class="separator"></div>
            
            <div class="col-md-12">
                <button id='toggleFiltering' ng-click="g.toggleFiltering()" class="btn btn-success">啟用簡易搜尋</button>
                <a href="/posts" target="_blank" class="btn btn-info pull-right">管理</a>
                <div id="bulltinGrid" ui-grid="g.gridOptions" style="width:auto;height:auto" ui-grid-resize-columns ui-grid-selection ui-grid-pagination>
                </div>
                
                <span class="clearfix"></span>
            </div>
        </div>
            
    </div>
</div>
	


<!-- ================ -->








<!-- calendar end -->



<!--
<div class="section">
    <div class="container">
        <h1 class="text-center title">Google Calendar Reader Plug-in Test</h1>
        <div class="separator"></div>
        <div id="eventlist">
            <div class="gcf-header-block">
                <div class="gcf-title-block">
                    <span class="gcf-title"></span>
                </div>
            </div>
            <div class="gcf-item-container-block">
                <div class="gcf-item-block">
                    <div class="gcf-item-header-block">
                        <div class="gcf-item-date-block">
                            <span class="gcf-item-daterange"></span>
                        </div>
                        <div class="gcf-item-title-block">
                            <strong class="gcf-item-title"></strong>
                        </div>
                    </div>
                    <div class="gcf-item-body-block">
                        <div class="gcf-item-description">
                        </div>
                        <div class="gcf-item-location">
                        </div>
                    </div>
                </div>
            </div>
            <div class="gcf-last-update-block">
                LastUpdate: <span class="gcf-last-update"></span>
            </div>

        </div>
    </div>
</div>

-->
<!-- parallax section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- parallax section end -->
<!-- section start -->
<!-- ================ -->
<div class="gray-bg section">
    <div class="container">
        <h1 class="text-center title">核心業務</h1>
        <div class="separator"></div>
        <div class="row grid-space-20">
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                    <div class="overlay-container shadow">
                        <img src="images/portfolio-3.png" alt="">
                    </div>
                    <h3><a href="../../../lungmen.html">龍門計畫</a></h3>
                    <p>(簡單說明)</p>
                    <a href="../../../lungmen.html" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
                    <div class="overlay-container shadow">
                        <img src="images/portfolio-2.png" alt="">

                    </div>
                    <h3><a href="portfolio-item.html">電廠改善工程</a></h3>
                    <p>(簡單說明)</p>
                    <a href="#" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
                    <div class="overlay-container shadow">
                        <img src="images/portfolio-1.png" alt="">
                    </div>
                    <h3><a href="portfolio-item.html">研究發展計畫</a></h3>
                    <p>(簡單說明)</p>
                    <a href="#" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->


<!-- jQuery REVOLUTION Slider  -->
<script type="text/javascript" src="../../../plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="../../../plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>


<script src="../../../js/rev-slider-init.js"></script>


<script src="../../../js/animations-init.js"></script>

