
<div id="header-top" class="header-top banner">
    
    <!-- slideshow start -->
    <!-- ================ -->

        <div class="row">

            <div class="col-md-12">
                <!-- slider revolution start -->
                <!-- ================ -->
                
                <div ng-include src="'../client/templates/home/imageSilderFull.html'"></div>
                
                <!-- slider revolution end -->
            </div>

        </div>
    
</div>

    <!-- slideshow end -->

<!-- banner end -->

<div class="boxed pattern-1">
    <div class="page-wrapper">
        
    <!-- slideshow start -->
    <!-- ================ -->
        <div class="row section">

            <div class="col-md-12">
                <!-- slider revolution start -->
                <!-- ================ -->
                <h1 class="text-center title">活動花絮</h1>
                <div class="separator"></div>
                <div ng-include src="'../client/templates/home/imageSilder.html'"></div>

                <!-- slider revolution end -->
            </div>

        </div>
    <!-- slideshow end -->

<!-- banner end -->


<!--Calendar-->
<div ng-include src="'../client/templates/home/calendar.html'"></div>


<!-- parallax section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg-2">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-center"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- parallax section end -->

<!--佈告欄-->
<div ng-include src="'../client/templates/home/bulltin.html'"></div>
	
<!-- parallax section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- parallax section end -->

<!-- ================ -->

<!--核能最新消息-->
<div ng-include src="'../client/templates/home/nuclearNews.html'"></div>





<!-- calendar end -->



<!--
<div class="section">
    <div class="container">
        <h1 class="text-center title">Google Calendar Reader Plug-in Test</h1>
        <div class="separator"></div>
        <div id="eventlist">
            <div class="gcf-header-block">
                <div class="gcf-title-block">
                    <span class="gcf-title"></span>
                </div>
            </div>
            <div class="gcf-item-container-block">
                <div class="gcf-item-block">
                    <div class="gcf-item-header-block">
                        <div class="gcf-item-date-block">
                            <span class="gcf-item-daterange"></span>
                        </div>
                        <div class="gcf-item-title-block">
                            <strong class="gcf-item-title"></strong>
                        </div>
                    </div>
                    <div class="gcf-item-body-block">
                        <div class="gcf-item-description">
                        </div>
                        <div class="gcf-item-location">
                        </div>
                    </div>
                </div>
            </div>
            <div class="gcf-last-update-block">
                LastUpdate: <span class="gcf-last-update"></span>
            </div>

        </div>
    </div>
</div>

-->
<!-- parallax section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- parallax section end -->
<!-- section start -->
<!-- ================ -->

<!--核心業務-->

<!-- section start -->
<!-- ================ -->
<div class="gray-bg section">
    <div class="container">
        <h1 class="text-center title">核心業務</h1>
        <div class="separator"></div>
        <div class="row grid-space-20">
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                    <div class="overlay-container shadow">
                        <img src="../../../images/portfolio-3.png" alt="">
                    </div>
                    <h3><a href="../../../lungmen.html">龍門計畫</a></h3>
                    <p>(簡單說明)</p>
                    <a href="../../../lungmen.html" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
                    <div class="overlay-container shadow">
                        <img src="../../../images/portfolio-2.png" alt="">

                    </div>
                    <h3><a href="portfolio-item.html">電廠改善工程</a></h3>
                    <p>(簡單說明)</p>
                    <a href="#" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
                    <div class="overlay-container shadow">
                        <img src="../../../images/portfolio-1.png" alt="">
                    </div>
                    <h3><a href="portfolio-item.html">研究發展計畫</a></h3>
                    <p>(簡單說明)</p>
                    <a href="#" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->

</div>

 </div>

<!-- jQuery REVOLUTION Slider  -->
<script type="text/javascript" src="../../../plugins/template/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="../../../plugins/template/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>


<script src="../../../js/rev-slider-initv1.js"></script>


<script src="../../../js/animations-init.js"></script>

