
<div>
    
    <!-- slideshow start -->
    <!-- ================ -->

    <div>

        <div class="row">

            <div class="col-md-10">
                <!-- slider revolution start -->
                <!-- ================ -->

                <div ng-include src="'client/templates/home/imageSilder.html'"></div>

                <!-- slider revolution end -->
            </div>

            <div class="col-md-2">
                <div ng-include src="'client/templates/home/quicksidebar.html'"></div>
            </div>
        </div>
    </div>

    <!-- slideshow end -->

</div>
<!-- banner end -->

<div class="section" id="nuclearNews">
    <div id="my-feeds" class="container row" ng-controller="FeedsController">
        <h1 class="text-center title">國際核能最新消息</h1>
        <div class="separator"></div>
        <div ng-controller="FeedWidgetController" ng-repeat="feed in feeds track by feed.id" class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div ng-include src="RSSReader/feed-widget-control.html"></div>
                    <h2 ng-click="toggleFeed();" class="panel-title">{{feed.title}}</h2>
                </div>
                <div ng-if="!collapsed" class="panel-body feed-body">
                    <div class="feed-block" feed-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- parallax section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg-2">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- parallax section end -->

<div class="section" id="calendar">
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div ng-controller="calViewCtrl as c">
                    <h1 class="text-center title">行事曆</h1>
                    <div class="separator"></div>
                    <div  ui-calendar="c.uiConfig.calendar" ng-model="c.eventSources"></div>
                </div>

            </div>
        </div>
    </div>
    
    </div>




   
<div class="section" id="bulltin">
        
    <div class="container" ng-controller="gridCtrl as g">
           
        <div class="row">
            <h1 class="text-center title">佈告欄</h1>
            <div class="separator"></div>
            
            <div class="col-md-12">
                <button id='toggleFiltering' ng-click="g.toggleFiltering()" class="btn btn-success">啟用簡易搜尋</button>
                <a href="/posts" target="_blank" class="btn btn-info pull-right">管理</a>
                <div id="bulltinGrid" ui-grid="g.gridOptions" style="width:auto;height:auto" ui-grid-resize-columns ui-grid-selection ui-grid-pagination>
                </div>
                
                <span class="clearfix"></span>
            </div>
        </div>
            
    </div>
</div>
	
<!-- parallax section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- parallax section end -->

<!-- ================ -->








<!-- calendar end -->



<!--
<div class="section">
    <div class="container">
        <h1 class="text-center title">Google Calendar Reader Plug-in Test</h1>
        <div class="separator"></div>
        <div id="eventlist">
            <div class="gcf-header-block">
                <div class="gcf-title-block">
                    <span class="gcf-title"></span>
                </div>
            </div>
            <div class="gcf-item-container-block">
                <div class="gcf-item-block">
                    <div class="gcf-item-header-block">
                        <div class="gcf-item-date-block">
                            <span class="gcf-item-daterange"></span>
                        </div>
                        <div class="gcf-item-title-block">
                            <strong class="gcf-item-title"></strong>
                        </div>
                    </div>
                    <div class="gcf-item-body-block">
                        <div class="gcf-item-description">
                        </div>
                        <div class="gcf-item-location">
                        </div>
                    </div>
                </div>
            </div>
            <div class="gcf-last-update-block">
                LastUpdate: <span class="gcf-last-update"></span>
            </div>

        </div>
    </div>
</div>

-->
<!-- parallax section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- parallax section end -->
<!-- section start -->
<!-- ================ -->
<div class="gray-bg section">
    <div class="container">
        <h1 class="text-center title">核心業務</h1>
        <div class="separator"></div>
        <div class="row grid-space-20">
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                    <div class="overlay-container shadow">
                        <img src="images/portfolio-3.png" alt="">
                    </div>
                    <h3><a href="../../../lungmen.html">龍門計畫</a></h3>
                    <p>(簡單說明)</p>
                    <a href="../../../lungmen.html" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
                    <div class="overlay-container shadow">
                        <img src="images/portfolio-2.png" alt="">

                    </div>
                    <h3><a href="portfolio-item.html">電廠改善工程</a></h3>
                    <p>(簡單說明)</p>
                    <a href="#" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
                    <div class="overlay-container shadow">
                        <img src="images/portfolio-1.png" alt="">
                    </div>
                    <h3><a href="portfolio-item.html">研究發展計畫</a></h3>
                    <p>(簡單說明)</p>
                    <a href="#" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->




