
<ul>
    <li>背景：Dragonfly駭客組織2013年初攻擊重點集中在美國及歐洲的能源產業進行間諜活動，受害者涵蓋美國、西班牙、法國、義大利、德國、土耳其與波蘭。</li>
    <li>手法：
        <ul>
            <li class="text-primary">惡意釣魚郵件：發送含有惡意程式的釣魚郵件。</li>
            <li class="text-primary">水坑式攻擊：破壞那些能源公司員工可能瀏覽的網站，並重新導向到有漏洞的網址，以下載惡意程式。</li>
            <li class="text-primary">合法工控軟體遭嵌入惡意程式：入侵工業控制系統（ICS）的設備供應商，用遠端存取木馬感染工控軟體，使得能源企業執行ICS設備軟體更新時，一併安裝惡意程式。</li>
        </ul>
    </li>
    <li>近期事件：電腦安全公司賽門鐵克9月6日表示，一個與俄羅斯有關的網絡間諜組織，已入侵美國及歐洲的 <span class="text-success"> 配電網絡控制，提高惡意遙控引致的停電風險</span>。該組織被稱為「蜻蜓2.0（Dragonfly2.0）」，已取得進入美國、土耳其及瑞士不少能源企業的操作系統的權限，<span class="text-danger">「其程度足以令它現時擁有潛在能力，於決定行動時，破壞或控制這些系統」。</span></li>
    <li>請各位同仁落實資通安全，<span class="text-danger bg-danger">不開啟可疑信件及不點選可疑連結。</span></li>
</ul>
<p>
   


