
<div class="banner">
    <div class="fixed-image section light-translucent-bg" style="background-image:url('images/download-2.jpg');background-position:top">
        <div class="container">
        <div class="space-top"></div>

        </div>
    </div>
</div>
<!-- banner end -->

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a ui-sref="home">首頁</a></li>
                    <li class="active">常用下載</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->


<!-- main-container start -->
<!-- ================ -->
<section class="main-container icons-page">

    <div class="container" ng-controller="homeCtrl as h">
        <div class="row">

             <!-- sidebar start -->
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">常用表單</h3>
                        <div class="separator"></div>
                        <nav class="affix-menu scrollspy">
                            <ul class="smooth-scroll nav nav-pills nav-stacked">                  
                                <li><a href="#general" du-smooth-scroll du-scrollspy>一般常用表格</a></li>
                                <li><a href="#document" du-smooth-scroll du-scrollspy>公文常用表格</a></li>
                                <li><a href="#form" du-smooth-scroll du-scrollspy>申請單與費用表格</a></li>
                                <li><a href="#meeting" du-smooth-scroll du-scrollspy>會議記錄格式</a></li>
                                <li><a href="#powerpoint" du-smooth-scroll du-scrollspy>簡報格式</a></li>
                                <li><a href="#personnel" du-smooth-scroll du-scrollspy>人資服務相關表格</a></li>
                                <li><a href="#other" du-smooth-scroll du-scrollspy>其他下載</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                    
                </div>
            </div>
            <!-- sidebar end -->


            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-9">

                <div id="general">
                    <h2 class="page-header"><span class="fa fa-info-circle"></span> 一般標準常用表格</h2>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>檔案名稱</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 緊急公務通報原則 <a ng-href="http://{{h.host}}/procedure-format/procedure-format-9.pdf"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 核技處公務電話紀錄<a ng-href="http://{{h.host}}/format/telrecord.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 台電公司出席會議情形報告單<a ng-href="http://{{h.host}}/format/meetreport1.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>


                            <tr>
                                <td><span class="fa fa-file-text-o"></span> SEO_DEO案件資訊註記單<a ng-href="http://{{h.host}}/format/seo_deo_remark.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>

                            <tr>
                                <td><span class="fa fa-file-text-o"></span> DEO處理單R1填寫說明<a ng-href="http://{{h.host}}/format/DEO%E8%99%95%E7%90%86%E5%96%AER1%E5%A1%AB%E5%AF%AB%E8%AA%AA%E6%98%8E.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>

                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 替代方案DEO技術服務案文件處理單R1-1000421<a ng-href="http://{{h.host}}/format/%E6%9B%BF%E4%BB%A3%E6%96%B9%E6%A1%88DEO%E6%8A%80%E8%A1%93%E6%9C%8D%E5%8B%99%E6%A1%88%E6%96%87%E4%BB%B6%E8%99%95%E7%90%86%E5%96%AER1-1000421.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="document">
                    <h2 class="page-header"><span class="fa fa-navicon"></span> 公文相關表單</h2>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>檔案名稱</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 公文書寫教材<a ng-href="http://{{h.host}}/writing/公文書寫教材-史秘書.ppt"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 檔案分類表<a ng-href="http://{{h.host}}/核技處檔案分類表105-file-sort.xls" target="blank"> <span class="fa fa-download"></span></a></td>
                            </tr>
                           
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 總管理處分層負責表<a href="http://10.2.1.2/upfile/upload/組法組/103總處共同事項分層負責明細表(全版)文書類修正(發文版)1030217(1030812排版修改).doc" target="_blank"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 處內分層負責表<a ng-href="http://{{h.host}}/Aa/Aa01/step_960601.doc" target="_blank"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 程序書對照索引/表<a ng-href="http://{{h.host}}/list-procedure.xls" target="_blank"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            
                            
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 台灣電力公司公文改分單<a ng-href="http://{{h.host}}/format/20100602073030.doc" target="_blank"> <span class="fa fa-download"></span></a></td>
                            </tr>
                             <tr>
                                <td><span class="fa fa-file-text-o"></span> 文件保存期限<a ng-href="http://{{h.host}}/nedpe/saveperiod/default-sp.htm"> <span class="fa fa-link"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 設計文件分級<a ng-href="http://{{h.host}}/nedpe/documentlevel/index-dl.htm" target="blank"> <span class="fa fa-link"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 核技處英文簽辦用簽
                                    <a ng-href="http://{{h.host}}/format/ned-e5.doc">首頁 <span class="fa fa-download"></span></a>
                                    /
                                    <a ng-href="http://{{h.host}}/format/ned-e6.doc">次頁 <span class="fa fa-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 定形稿表格<a ng-href="http://{{h.host}}/peform/downloa1.htm"> <span class="fa fa-download"></span></a></td>
                            </tr>

                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 本處公司稿以總經理署名之例行性公文授權項目<a ng-href="http://{{h.host}}/writing/公司稿授權處長核定之項目.pdf"> <span class="fa fa-download"></span></a></td>
                            </tr>

                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 會計部門免會辦須知<a ng-href="http://{{h.host}}/writing/免會會計處項目.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <!-- page-title end -->
                
                <div id="form">
                    <h2 class="page-header"><span class="fa fa-paperclip"></span> 申請單與費用報支相關表格</h2>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>檔案名稱</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 核能技術處蓋用印信申請表<a ng-href="http://{{h.host}}/format/%E6%A0%B8%E8%83%BD%E6%8A%80%E8%A1%93%E8%99%95%E8%93%8B%E7%94%A8%E5%8D%B0%E4%BF%A1%E7%94%B3%E8%AB%8B%E8%A1%A8.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 單據粘存單<a ng-href="http://{{h.host}}/format/ned-use2.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 公務汽車派車單<a ng-href="http://{{h.host}}/format/ned-use3.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 會後便餐報核單<a ng-href="http://{{h.host}}/format/ned-eat.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 小額採購表格<a ng-href="http://{{h.host}}/format/ned-use15.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 台電旅費報支表格<a ng-href="http://{{h.host}}/format/%E5%9C%8B%E5%85%A7%E6%97%85%E8%B2%BB%E5%A0%B1%E6%94%AF%E5%96%AE20140827.xls"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 台電公司支出證明單<a ng-href="http://{{h.host}}/format/%E5%9C%8B%E5%85%A7%E6%97%85%E8%B2%BB%E5%A0%B1%E6%94%AF%E5%96%AE20140827.xls"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 員工廉政倫理規範簽報知會表<a ng-href="http://{{h.host}}/format/user.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                             <tr>
                                <td><span class="fa fa-file-text-o"></span> 受贈財務事件處理程序<a ng-href="http://{{h.host}}/format/gift.pdf"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa fa-file-text-o"></span> 龍門施工處會議室設備借用申請單
                                <a ng-href="http://{{h.host}}/format/lm2.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
               
 
               

                <div id="meeting">
                    <h2 class="page-header"><span class="fa fa-check-square-o"></span> 會議記錄格式</h2>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>檔案名稱</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> (一般)會議紀錄格式暨相關規定<a ng-href="http://{{h.host}}/report/gine.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 會議紀錄格式(中文版)<a ng-href="http://{{h.host}}/report/meetform1.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 會議紀錄格式(英文版)<a ng-href="http://{{h.host}}/report/meetform2.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 簽名冊格式<a ng-href="http://{{h.host}}/report/signform.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                        </tbody>                     
                    </table> 
                </div>

                <div id="powerpoint">
                    <h2 class="page-header"><span class="fa fa-check-circle-o"></span> 簡報格式</h2>

                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>檔案名稱</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 簡報母片格式(傳統)<a ng-href="http://{{h.host}}/present/powerpoint.ppt"> <span class="fa fa-download"></span></a></td>
                            </tr>
                             <tr>
                                <td><span class="fa fa-file-text-o"></span> 公司重要簡報參考<a href="ftp://10.16.16.21:61/"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 簡報元素下載區<a href="#"> <span class="fa fa-download"></span></a></td>
                            </tr>
                           
                            
                        </tbody>
                    </table>
                </div>
			    
                <div id="personnel">
                    <h2 class="page-header"><span class="fa fa-users"></span> 人資服務相關表格</h2>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>檔案名稱</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 核能技術處人員升遷甄審申請表 <a ng-href="http://{{h.host}}/format/ned-use4.doc"> <span class="fa fa-download"></span></a></td>
                                
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 升任派用人員七等、雇用人員十二等以上人員考核表<a ng-href="http://{{h.host}}/format/%E5%8D%87%E4%BB%BB%E6%B4%BE%E7%94%A8%E4%BA%BA%E5%93%A1%E4%B8%83%E7%AD%89%E3%80%81%E9%9B%87%E7%94%A8%E4%BA%BA%E5%93%A1%E5%8D%81%E4%BA%8C%E7%AD%89%E4%BB%A5%E4%B8%8A%E4%BA%BA%E5%93%A1%E8%80%83%E6%A0%B8%E8%A1%A8.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 核能技術處加班抽查報告表<a ng-href="http://{{h.host}}/format/ned-use6.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 核能技術處抽查報告表<a ng-href="http://{{h.host}}/format/ned-use7.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 眷屬健康保險異動申請書<a ng-href="http://{{h.host}}/format/ned-use8.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 請發各項證明書申請單<a ng-href="http://{{h.host}}/format/ned-use9.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 分類13等(含)以下非單位主管人員派用人員非公務申請赴大陸申請表(含注意事項併申請表一起呈核)<a ng-href="http://{{h.host}}/format/ned-use11.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 分類13等(含)以下派用人員公務赴大陸地區申請表<a ng-href="http://{{h.host}}/format/ned-use11.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 台電公司單位主管以上人員非因公務出國申請書<a ng-href="http://{{h.host}}/format/ned-use20.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 友邦人壽理賠申請書<a ng-href="http://{{h.host}}/format/%E7%90%86%E8%B3%A0%E7%94%B3%E8%AB%8B%E6%9B%B8-%E5%90%AB%E5%80%8B%E8%B3%87-20160315.pdf"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 性別影響評估檢視表(中長程個案計畫)<a ng-href="http://{{h.host}}/format/long-plan.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 性別影響評估檢視表(法律案)<a ng-href="http://{{h.host}}/format/lower-plan.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 員工超時工作出勤卡<a ng-href="http://{{h.host}}/format/overtime.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>

                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 103新版出返國申報表<a ng-href="http://{{h.host}}/format/103%E6%96%B0%E7%89%88%E5%87%BA%E8%BF%94%E5%9C%8B%E7%94%B3%E5%A0%B1%E8%A1%A8.doc"> <span class="fa fa-download"></span></a></td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
                <div id="other">
                    <h2 class="page-header"><span class="fa fa-external-link"></span> 其他下載/連結</h2>

                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>檔案名稱</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="fa fa-file-text-o"></span> 資訊處常用軟體連結<a href="http://10.16.9.105/index.php/2013-08-27-08-12-19/m-comm-software" target="blank"> <span class="fa fa-link"></span></a></td>
                            </tr>
                           
                            
                        </tbody>
                    </table>
                </div>


            </div>
            <!-- main end -->



        </div>
    </div>
</section>
<!-- main-container end -->