<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="m.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="myModalLabel" ng-bind="m.event.title"></h4>
	</div>
	<div class="modal-body">
		<p ng-if="m.event.start">開始時間:{{m.event.start}}</p>
		
		<p ng-if="m.event.end">結束時間:{{m.event.end}}</p>
		<p>地點:{{m.event.location}}</p>
		<p>出席人員:{{m.event.description}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal" ng-click="m.cancel()">關閉</button>
		
</div>