

<div id="v0" class="slider-banner-container">
    
    <div class="slider-banner">
        <ul>

            <!-- 複製開始 -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="2">

                <img src="../../../images/home/Playing/gov_promotev2.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            </li>
            <!-- 複製結束 -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="2">
                <!-- main image -->
                <img src="../../../images/home/Playing/gov_promote_v2.jpg" data-bgposition="center center" data-bgfit="top" data-bgrepeat="no-repeat">
            </li>
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="1">
                <!-- main image -->
                <img src="../../../images/home/Playing/2017-Fall-Travel_3.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            </li>
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="1">
                <!-- main image -->
                <img src="../../../images/home/Playing/tpc_front_door.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            </li>
            <!-- slide 5 start -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="2">
                <!-- main image -->
                <img src="../../../images/home/Playing/fatherday_2017-E.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            </li>
            <!-- slide 5 end -->
            <!-- slide 5 start -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="2">
                <!-- main image -->
                <img src="../../../images/home/Playing/cybersecurity.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            </li>
            <!-- slide 5 end -->
            <!-- slide 5 start -->
            <!-- slide 5 end -->
            <!-- slide 5 start -->
            <!-- slide 5 end -->
            <!-- slide 5 start -->
            <!-- slide 5 end -->




        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>

<!-- jQuery REVOLUTION Slider  -->


<script src="../../../js/rev-slider-init.js"></script>
