

<div id="v0" class="slider-banner-container">
    
    <div class="slider-banner">
        <ul>
            
            <!-- slide 5 start -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="2">
                <!-- main image -->
                <img src="../../../images/home/lunarcong.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            </li>
            <!-- slide 5 end -->

           

            <!-- slide 5 start -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="2">
                <!-- main image -->
                <img src="../../../images/home/mountain.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            </li>
            <!-- slide 5 end -->
            <!-- slide 5 start -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="2">
                <!-- main image -->
                <img src="../../../images/home/fatherday1.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            </li>
            <!-- slide 5 end -->

             <!-- slide 5 start -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="1">
                <!-- main image -->
                <img src="../../../images/home/lin.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            </li>
            <!-- slide 5 end -->
            <!-- slide 5 start -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="1">
                <!-- main image -->
                <img src="../../../images/home/floatinghouse.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            </li>
            <!-- slide 5 end -->

            


        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>

<!-- jQuery REVOLUTION Slider  -->


<script src="../../../js/rev-slider-init.js"></script>
