<div id="fullScreen" class="slider-banner-container" ng-controller="homeCtrl as h">
    
    <div class="slider-banner-fullscreen" ng-click="h.goToHome()">
        <ul>

            <!-- slide 1 start -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="核一廠">

                <!-- main image -->
                <img src="../../../images/home/bg2_o.jpg" data-bgposition="top right" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfr tp-resizeme"
                     data-x="175"
                     data-y="100"
                     data-speed="600"
                     data-start="1200"
                     data-end=""
                     data-endspeed="600">
                    <div>
                        <h1 class="box-title-green">企業核心價值</h1>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-style-2">
                                    <div class="icon-container default-bg circle">
                                        <i class="fa fa-comment"></i>
                                    </div>
                                    <div class="body">
                                        <h2 class="box-title-green">誠信</h2>
                                        <p>以溝通增進互信，凝聚彼此與團隊的信任</p>

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-11">
                                    <div class="box-style-2">
                                        <div class="icon-container default-bg circle">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                        <div class="body">
                                            <h2 class="box-title-green">關懷</h2>
                                            <p>綠色永續、利他共榮的態度，善盡企業社會責任</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg circle">
                                                <i class="fa fa-users"></i>
                                            </div>
                                            <div class="body">
                                                <h2 class="box-title-green">成長</h2>
                                                <p>從工作成長走向團隊成長及生命成長</p>

                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">

                                        <div class="box-style-2">
                                            <div class="icon-container default-bg circle">
                                                <i class="fa fa-wrench"></i>
                                            </div>
                                            <div class="body">
                                                <h2 class="box-title-green">服務</h2>
                                                <p>以安全、可靠、當責、精進的信念，提供內外顧客</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tp-caption  sfr tp-resizeme"
                     data-x="900"
                     data-y="120"
                     data-speed="600"
                     data-start="1200"
                     data-end=""
                     data-endspeed="600">
                    <!--
                <div class="loader-span">
                    <div class="location_indicator"></div>
                </div>
                    -->
                    <div class="location-icon"></div>
                </div>

            </li>
            <!-- slide 1 end -->
            <!-- slide 4 start -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="核二廠">

                <!-- main image -->
                <img src="../../../images/home/bg2_v.jpg" data-bgposition="bottom left" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div ng-include="" src="'../client/templates/home/revsilder/slogan.html'"></div>


            </li>
            <!-- slide 4 end -->



        </ul>

        
        <div class="tp-bannertimer tp-bottom"></div>
        
    </div>
</div>
<!-- jQuery REVOLUTION Slider  -->
<script type="text/javascript" src="../../../plugins/template/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="../../../plugins/template/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>


<script src="../../../js/rev-slider-initv1.js"></script>

<script src="../../../js/animations-init.js"></script>
