<!--
<div class="fix-image-integrity-page light-translucent-bg" 
     style="background-image:url('../../../images/integrity/integrity.jpg');
        background-position:center">-->


    <div class="banner">
        <div class="fixed-image section light-translucent-bg" style="background-image:url('../../../images/integrity/integrity.jpg');background-position:center">
            <div class="container">
                <div class="space-top"></div>

            </div>
        </div>
    </div>

    <section class="container main-container icons-page" ng-controller="integrityCtrl as g">
        <div class="row">

            <!-- sidebar start -->
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h4>廉政宣導</h4>
                        <div class="separator"></div>
                        <nav class="affix-menu scrollspy">
                            <ul class="smooth-scroll nav nav-pills nav-stacked">

                                <li><a href="#law" du-smooth-scroll du-scrollspy>政風法令</a></li>
                                <li><a href="#notification" du-smooth-scroll du-scrollspy>廉政會報</a></li>
                                <li><a href="#secret" du-smooth-scroll du-scrollspy>工務機密維護</a></li>
                                <li><a href="#moral" du-smooth-scroll du-scrollspy>員工廉政倫理規範</a></li>
                                <li><a href="#example" du-smooth-scroll du-scrollspy>廉政案例宣導</a></li>
                                <li><a href="#application" du-smooth-scroll du-scrollspy>公務人員財產申報</a></li>
                                <li><a href="#relatives" du-smooth-scroll du-scrollspy>民法親等表</a></li>


                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <!-- sidebar end -->
            <!-- main start -->
            <!-- ================ -->
            <script type="text/ng-template" id="group-template.html">
                <div> <!--一定要有一層Div當作Container-->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href data-toggle="collapse" tabindex="0" class="accordion-toggle" ng-class="{collapsed:!isOpen}" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                                <!---->
                                <span uib-accordion-header>
                                    {{heading}}
                                </span>
                                    
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" uib-collapse="!isOpen">
                        <div class="panel-body" ng-transclude></div>
                    </div>
                </div>
            </script>
            <div class="main col-md-9">

                <div id="law">

                    <uib-accordion close-others="false">

                        <div uib-accordion-group class="panel panel-default" heading="{{group.title}}" ng-repeat="group in groups" is-open="true" template-url="group-template.html">
                            <ul class="list-icons">
                                <li ng-repeat="item in group.content">
                                    <i class="fa fa-university"></i> <a href="{{item.link}}" target="_blank">{{item.linkText}}</a> 
                                </li>
                            </ul>

                        </div>
                                  
                    </uib-accordion>

                    <!--
                    <div class="panel-group panel-transparent" id="accordion-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-3" href="#collapseOne-3">
                                        <i class="fa fa-bold"></i>Bootstrap Based
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne-3" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-3" href="#collapseTwo-3" class="collapsed">
                                        <i class="fa fa-leaf"></i>Clean &amp; powerful code
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-3" href="#collapseThree-3" class="collapsed">
                                        <i class="fa fa-html5"></i>HTML5/CSS3
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        -->



                </div>
                <!-- main end -->



            </div>
            


            

            </div>
        <div class="row">
            <div class="section parallax light-translucent-bg parallax-bg-integrity">

            </div>
        </div>
    </section>
