<h3 class="bg-primary text-center">106年上半年「電子郵件社交工程」演練</h3>
<h5>於<span class="bg-danger">3月8日8:00 至 3月<span style="color:red">31</span>日16:00</span>進行，特此公告。</h5>
<h5>提醒大家:</h5>

<ol>
    <li><h5 class="bg-info">不隨意開啟、轉寄不明寄件者的來信。</h5></li>
    <li><h5 class="bg-info">不隨意點選郵件中的連結。</h5></li>
    <li><h5 class="bg-info">請記得關閉郵件預覽。</h5></li>
</ol>

<h5>疑似社交郵件:</h5>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">寄件者</th>
            <th class="text-center">主旨</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>大編報報</td>
            <td>必去!花蓮金黃秘境</td>
        </tr>
        <tr>
            <td>TPBBS</td>
            <td>9歲童自己創業賺錢買i手錶</td>
        </tr>
        <tr>
            <td>大編報報</td>
            <td>旅遊泰國、柬埔寨前先了解拜佛的正確方法</td>
        </tr>
        <tr>
            <td>TPBBS</td>
            <td>睹車禍嚇壞 驚叫聲笑歪網友</td>
        </tr>
        <tr>
            <td>星雲傳奇</td>
            <td>四葉草「高中制服照」曝光掀暴動</td>
        </tr>
        <tr>
            <td>TVVSnews</td>
            <td>川普廢TPP全球多邊貿易受挫</td>
        </tr>
        <tr>
            <td>Starwolrd</td>
            <td>兄弟本色最後合體　門票4分鐘完售</td>
        </tr>
</table>