<div class="sidebar">
    <div class="block clearfix">
        <h3 class="title">快速導覽</h3>
        <div class="separator"></div>
        <nav>
            
            <ul class="nav nav-pills nav-stacked">
                <li><a href="http://portal.taipower.com.tw/wps/portal/!ut/p/.scr/Login" target="_blank"><span class="fa fa-hand-o-up"></span> 單一入口網站</a></li>
                
                <li><a href="#calendar" du-smooth-scroll du-scrollspy><span class="fa fa-calendar"></span> 行事曆</a></li>
                
                <li><a href="#bulltin" du-smooth-scroll du-scrollspy><span class="fa fa-briefcase"></span> 公佈欄</a></li>
                <li><a href="#nuclearNews" du-smooth-scroll du-scrollspy><span class="fa fa-list-alt"></span> 國際最新消息</a></li>
                <li><a href="http://10.144.101.3/Aa/tel-mail/dnetel.htm" target="_blank"><span class="fa fa-phone"></span> 電話簿</a></li>
                <li><a ui-sref="downloads"><span class="fa fa-download"></span> 常用表單/資料</a></li>

                <li><a href="ftp://10.16.7.109/"><span class="fa fa-folder-open"></span> 公司FTP</a></li>
                <li><a href="ftp://10.144.103.4/"><span class="fa fa-folder"></span> 龍門工地FTP</a></li>
                <li><a ui-sref="sitemap"><span class="fa fa-sitemap"></span> 網站地圖</a></li>
                <li><a href="https://elearning.taipower.com.tw/eHRDWeb/Login.html" target="_blank"><span class="fa fa-book"></span> 台電網路學院</a></li>          
                <li><a href="http://10.144.101.3" target="_blank"><span class="fa fa-external-link"></span> 舊網連結</a></li>
                <li><a href="/home/indexv1#/v1"><span class="fa fa-html5"></span> 版型2</a></li>
            </ul>
        </nav>
    </div>
</div>
