<!--
<div class="fix-image-integrity-page light-translucent-bg"
     style="background-image:url('../../../images/integrity/integrity.jpg');
        background-position:center">-->


<div class="banner">
    <div class="fixed-image-orgContrl section light-translucent-bg" style="background-image:url('../../../images/Resource-Audit.jpg');background-position:center;height:200px">
        <div class="container">
            <div class="space-top"></div>

        </div>
    </div>
</div>

<section class="container main-container icons-page">
    <div class="row">

        <!-- sidebar start -->
        <div class="col-md-3">
            <div class="sidebar">
                <div class="block clearfix">
                    <h4>風險管理資訊</h4>
                    <div class="separator"></div>
                    <nav class="affix-menu scrollspy">
                        <ul class="smooth-scroll nav nav-pills nav-stacked">
                            <li><a href="http://10.16.10.126/index.php?option=com_k2&view=item&layout=item&id=49&Itemid=260 " target="_blank">企劃處風險管理宣導文件</a></li>
                            <li><a href="http://10.20.1.4/資料/1關於本處/風險管理資訊平台/風險管理文件" target="_blank">風險管理文件</a></li>
                            <li><a href="http://10.20.1.4/資料/1關於本處/風險管理資訊平台/內部控制相關文件" target="_blank">內控自行評估表</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <!-- sidebar end -->
        <!-- main start -->
        <!-- ================ -->
        <script type="text/ng-template" id="group-template.html">
            <div>
                <!--一定要有一層Div當作Container-->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" tabindex="0" class="accordion-toggle" ng-class="{collapsed:!isOpen}" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                            <!---->
                            <span uib-accordion-header>
                                {{heading}}
                            </span>

                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" uib-collapse="!isOpen">
                    <div class="panel-body" ng-transclude></div>
                </div>
            </div>
        </script>
        <div class="main col-md-9">


            <div>
                <p>頁面建置中，如需相關資料可先點選左邊連結。</p>
                <!--
                <uib-accordion close-others="false">

                    <div uib-accordion-group class="panel panel-default" heading="{{group.title}}" ng-repeat="group in groups" is-open="true" template-url="group-template.html">
                        <ul class="list-icons">
                            <li ng-repeat="item in group.content">
                                <i class="fa fa-university"></i> <a href="{{item.link}}" target="_blank">{{item.linkText}}</a>
                            </li>
                        </ul>

                    </div>

                </uib-accordion>

                
                    <div class="panel-group panel-transparent" id="accordion-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-3" href="#collapseOne-3">
                                        <i class="fa fa-bold"></i>Bootstrap Based
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne-3" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-3" href="#collapseTwo-3" class="collapsed">
                                        <i class="fa fa-leaf"></i>Clean &amp; powerful code
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-3" href="#collapseThree-3" class="collapsed">
                                        <i class="fa fa-html5"></i>HTML5/CSS3
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        -->



            </div>
            <!-- main end -->



        </div>





    </div>

</section>
