

<div class="banner">
    <div class="fixed-image section light-translucent-bg" style="background-image:url('images/sitemap-1.jpg');background-position:80% 80%">
        <div class="container">
        <div class="space-top"></div>

        </div>
    </div>
</div>
    
<!-- banner end -->

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a ui-sref="home">首頁</a></li>
                    <li class="active">網站地圖</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->


        <!-- main-container start -->
        <!-- ================ -->
        <section class="main-container" ng-controller="homeCtrl as h">

            <div class="container">
                <div class="row">

                    <!-- main start -->
                    <!-- ================ -->
                    <div class="main col-md-12">

                        <!-- page-title start -->
                        <!-- ================ -->
                        <h1 class="page-title">網站地圖</h1>
                        <hr>
                        <!-- page-title end -->
                        <div class="row">
                            <div class="col-md-4">
                                <h2>關於本處</h2>
                                <ul class="list">
                                    <li>
                                        <strong>組織與人員</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處組織系統圖.doc">處組織系統圖</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處執行龍門計畫任務編組組織圖.doc">執行龍門計畫任務編組組織</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處職掌.doc">核技處工作執掌</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處辦事細則.doc">辦事細則</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處組織系統圖-%20英文.doc">組織系統圖-英文</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處執行龍門計畫任務編組組織圖-英文.doc">執行龍門計畫任務編組組織-英文</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處職務代理名單.doc">職務代理名單</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/電子公事包/7.2.1.1%20組織/核能技術處組織系統圖.doc">人力分析</a></li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                                <a target="_blank" ng-href="http://{{h.host}}/電子公事包/7.2.8%20年度目標/年度目標.doc"><strong>年度目標</strong></a>
                                <ul class="list">
                                    <li>
                                        <span>電話簿</span>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/Aa/tel-mail/dnetel.htm" target="_blank">台北辦公室</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/Aa/tel-mail/dnelm-tel.htm" target="_blank">SEO辦公室</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <h2>工程業務</h2>
                                <ul class="list">
                                    <li>
                                        <strong>龍門計畫業務</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a ui-sref="lungmenIntro">龍門計畫簡介</a></li>
                                            <li>
                                                <strong>SEO相關業務</strong>
                                                <ul class="list">
                                                    <li><i class="icon-right-open"></i><a href="http://10.20.1.5/source/2lco/asp/ddasp.asp" target="_blank">送LCO品質文件清單</a></li>
                                                    <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/support/" target="_blank">電氣Raceway Support管制表</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="http://10.20.3.133" target="_blank">龍門軟體構型管理系統</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>運轉中電廠相關資料</strong>
                                        <ul class="list">
                                            <li>
                                                <strong>FSAR</strong>
                                                <ul class="list">
                                                    <li><i class="icon-right-open"></i><a href="http://10.141.13.3/安管股/核一廠FSAR/核一廠FSAR章節.htm" target="_blank">核一廠FSAR</a></li>
                                                    <li><i class="icon-right-open"></i><a href="http://10.142.20.9/FSAR" target="_blank">核二廠FSAR</a></li>
                                                    <li><i class="icon-right-open"></i><a href="http://10.143.15.53/FSAR/FSAR目錄.htm" target="_blank">核三廠FSAR</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>電廠改善工程</strong>
                                        <ul class="list">
                                            
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>研究發展計劃</strong>
                                        <ul class="list"></ul>
                                    </li>
                                    <li>
                                        <strong>除役/延役計劃</strong>
                                        <ul class="list"></ul>
                                    </li>
                                    <li>
                                        <a ng-href="http://{{h.host}}/train_material-0/NPPMtn/" target="_blank">支援大修心得簡報</a>
                                    </li>
                                </ul>
                                
                            </div>
                            <div class="col-md-4">
                                <h2>查詢系統</h2>
                                <ul class="list">
                                    <li>
                                        <strong>公文查詢</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/swims/CorrespondenceList.asp">公文查詢(新版)</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.20.1.4/source/neddoc/asp/ddasp.asp">公文查詢(舊版)</a></li>
                                        </ul>
                                    </li>
                               </ul>
                                <ul class="list">
                                    <li>
                                        <strong>SEO業務相關系統</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/overtime/" target="_blank">SEO(AE)加班請假管理系統</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/seo/" target="_blank">編號暨文件修改登錄</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/drawing/" target="_blank">圖檔查詢及修改作業系統</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="list">
                                    <li>
                                        <strong>SEO案件查詢</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a href="http://203.67.79.80/lungmencts/default.aspx">Lungmen CTS</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/document/">管制文件查詢</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/documentfpr/Fpr_List.aspx">FPR處理現況</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/rap">RAP處理現況</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.144.102.191/dcis_iodb_control/">IO/FXDB、DCT查詢</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/seo/filesearch.aspx">SEO歸檔文件查詢</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/carms/carmslist.aspx" target="_blank">涉及CARMS資料修改查詢</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <a ng-href="http://{{h.host2}}/seoHtml/DneControlLog/DneControlLog.asp" target="_blank">Control Log(新版)</a><br />
                                <a ng-href="http://{{h.host2}}/designdocument/">DNE Control Log(舊版)</a><br />
                                <a ng-href="http://{{h.host2}}/seoHtml/GeIms/J05.asp" target="_blank">GEH IMS-J05查詢</a><br />
                                <a ng-href="http://{{h.host2}}/seoHtml/GeIms/J07.asp" target="_blank">GEH IMS-J07查詢</a><br />
                                <a ng-href="http://{{h.host}}/Resource/Objectopia.htm" target="_blank">Hitachi Objectopia</a>
                                <h2>核能單位</h2>
                                <ul class="list">
                                    <li>
                                        <strong>總處核能單位</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a href="http://10.18.8.153/" target="_blank">核能發電處</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.19.1.1/" target="_blank">核能安全處</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.57.50.20/nbmd/" target="_blank">核能後端營運處</a></li>
                                            <li><i class="icon-right-open"></i><a href="ftp://10.16.7.109/002%C1%60%B8g%B2z%B0%C6%C1%60%B8g%B2z%AB%C7/%AE%D6%AF%E0%B7%BE%B3q%A4p%B2%D5/" target="_blank">核能溝通中心</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.27.1.119/" target="_blank">核能緊執會</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>各核能發電廠及相關單位</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a href="http://10.141.200.68/" target="_blank">核一廠</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.142.10.11/" target="_blank">核二廠</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.143.13.205/" target="_blank">核三廠</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.144.99.99/" target="_blank">龍門電廠</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.144.99.99/revalidationweb/default.aspx" target="_blank">安全檢測小組</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.67.32.12/" target="_blank">放射實驗室</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.175.20.110/lm/" target="_blank">龍門施工處</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>公司外核能相關單位</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a target="_blank" href="http://www.aec.gov.tw/">原子能委員會</a></li>
                                            <li><i class="icon-right-open"></i><a target="_blank" href="http://www.iner.gov.tw/siteiner/wSite/mp?mp=INER">核能研究所</a></li>
                                            <li><i class="icon-right-open"></i><a target="_blank" href="http://tnaweb.org.tw/">台灣核能級產業發展協會</a></li>
                                            <li><i class="icon-right-open"></i><a target="_blank" href="http://www.nrc.gov/">美國NRC</a></li>
                                            <li><i class="icon-right-open"></i><a target="_blank" href="http://www.epri.com/Pages/Default.aspx">EPRI</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="col-md-4">
                                <h2>日常業務</h2>
                                <ul class="list">
                                    <li>
                                        <strong>處內一般業務</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/nuclearjournal/nuclearjournallist.aspomponents-tabs-and-pills.html">核能月刊</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/safety/safety1.htm">核安文化</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/km/km1.htm">資通安全</a></li>
                                            <li><i class="icon-right-open"></i><a ui-sref="meeting">會議紀錄</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/source/nedmeeting/loginpjtor.asp">設備預約</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/Resource/MeetingRoomList.asp">會議室預約</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>內部規章</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a href="http://w3-old.taipower.com.tw/" target="_blank">公司章則(W3舊網->各項規章)</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.18.8.153/d05607/procedure/核發處內部規章/new_page_2.htm" target="_blank">核能事業部章則</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/procedure/index.htm">處內章則/程序書</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>處資料室</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a href="#" data-toggle="modal" data-target="#newJournal">新到期刊</a></li>
                                            <li><i class="icon-right-open"></i><a href="#" data-toggle="modal" data-target="#newJournalComment">核能外文期刊閱覽評註</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/feedback/feedbacklist.asp" target="_blank">核能發電回饋系統</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.16.10.96/webhelp/tn.htm" target="_blank">核能資訊檢索系統</a></li>

                                            <li><i class="icon-right-open"></i><a href="http://qp8.taipower.com.tw/LotusQuickr/t01029/Main.nsf/h_Toc/cc456e361318c65648257248002247a0/?OpenDocument">知識管理協同園地</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://portal.taipower.com.tw/wps/myportal/!ut/p/_s.7_0_A/7_0_86H/.cmd/ad/.c/6_0_779/.ce/7_0_86L/.p/5_0_7GL/.d/0#7_0_86L">台電分散式知識管理系統</a></li>


                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/電子公事包/7.2.2.4%20國際合作資訊/國際合作資訊%20-%20例行會議.docx" target="_blank">國際合作資訊</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/bulletin/report.htm" target="_blank">研討會資料</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/train_material-0/train_home.htm">訓練教材</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <h2>常用連結</h2>
                                <ul class="list">
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://w3.taipower.com.tw/tpc/web/index.aspx">公司內部企業網站</a></li>
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://www.taipower.com.tw/">台灣電力公司網站</a></li>
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://www.taipower.com.tw/content/new_info/new_info01.aspx">公司營運資訊揭露</a></li>
                                    <li>
                                        <span>網路學習</span>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a href="https://elearning.taipower.com.tw/eHRDWeb/Login.html" target="_blank">台電網路學院</a></li>
                                            <li><i class="icon-right-open"></i><a href="https://elearning.hrd.gov.tw/index.php" target="_blank">E等公務園學習網</a></li>
                                        </ul>
                                    </li>
                                    <li><i class="icon-right-open"></i><a target="_blank" href="https://webmail.taipower.com.tw/">Webmail</a></li>
                                </ul>
                                <h2>同心園地</h2>
                                <ul class="list">
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://10.10.7.200/tph2h2/index.asp">總管理處同心園地</a></li>
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://10.19.1.1/同心園地.htm">核能發電系統同心園地</a></li>
                                    <li><i class="icon-right-open"></i><a target="_blank" href="#">核技處同心園地</a></li>
                                    <li><i class="icon-right-open"></i><a target="_blank" ng-href="http://{{h.host2}}/board/board.aspx">核技處留言板</a></li>

                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://10.18.8.153/d05608/together/index.html">核發處同心園地</a></li>
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://10.19.1.1/核安同心園地.htm">核安處同心園地</a></li>

                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://10.57.50.18/garden/">核後端同心園地</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- main end -->

                </div>
            </div>
        </section>
        <!-- main-container end -->        <!-- footer start (Add "light" class to #footer in order to enable light footer) -->
        <!-- ================ -->
   
<!-- Modal -->
    <div class="modal fade" id="newJournal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newJournalLabel">新到期刊</h4>
                </div>
                <div class="modal-body">

                    <ul class="list-icons">
                        <li><span class="fa fa-clone"></span><a href="http://10.16.10.96/tnhtml/booknew.htm" target="_blank"> 新到圖書</a></li>
                        <li><span class="fa fa-clone"></span><a href="http://10.16.10.96/tnhtml/magznew.htm" target="_blank"> 新到期刊</a></li>
                        <li><a href="http://10.16.10.96/tnhtml/drawnew.htm" target="_blank"><span class="fa fa-clone"></span> 新到圖面</a></li>
                        <li><a href="http://10.16.10.96/tnhtml/specnew81.htm" target="_blank"><span class="fa fa-clone"></span> 新到規範</a></li>
                        <li><a href="http://10.16.10.96/tnhtml/specnew80.htm" target="_blank"><span class="fa fa-clone"></span> 新到說明書</a></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newJournalComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newJournalCommentLabel">核能外文期刊閱覽評註</h4>
                </div>
                <div class="modal-body">

                    <ul class="list-icons">
                        <li><span class="fa fa-clone"></span><a ng-href="http://{{h.host}}/eReferenceRoom/AmericanSociety.htm" target="_blank"> American Society of Civil Engineering</a></li>
                        <li><span class="fa fa-clone"></span><a ng-href="http://{{h.host}}/eReferenceRoom/Corrosion.htm" target="_blank"> Corrosion</a></li>
                        <li><span class="fa fa-clone"></span><a ng-href="http://{{h.host}}/eReferenceRoom/ICRP.htm" target="_blank"> ICRP</a></li>
                        <li><a ng-href="http://{{h.host}}/eReferenceRoom/JournalofG&Geo.htm"><span class="fa fa-clone"></span> Journal of Geotechnical and Geo environmental Engineering</a></li>
                        <li><a ng-href="http://{{h.host}}/eReferenceRoom/NEI.htm" target="_blank"><span class="fa fa-clone"></span> Nuclear Engineering International</a></li>
                        <li><a ng-href="http://{{h.host}}/eReferenceRoom/Serch.htm" target="_blank"><span class="fa fa-clone"></span> Serch</a></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- page wrapper start -->
    <!-- ================ -->