

<div class="banner">
    <div class="fixed-image section light-translucent-bg" style="background-image:url('images/sitemap-1.jpg');background-position:80% 80%">
        <div class="container">
        <div class="space-top"></div>

        </div>
    </div>
</div>
    
<!-- banner end -->

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a ui-sref="home">首頁</a></li>
                    <li class="active">網站地圖</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->


        <!-- main-container start -->
        <!-- ================ -->
        <section class="main-container" ng-controller="homeCtrl as h">

            <div class="container">
                <div class="row">

                    <!-- main start -->
                    <!-- ================ -->
                    <div class="main col-md-12">

                        <!-- page-title start -->
                        <!-- ================ -->
                        <h1 class="page-title">網站地圖</h1>
                        <hr>
                        <!-- page-title end -->
                        <div class="row">
                            <div class="col-md-4">
                                <h2>關於本處</h2>
                                <ul class="list">
                                    <li>
                                        <strong>組織與人員</strong>
                                        <ul class="list">
                                            <li><a ng-href="http://{{h.host}}/資料/1關於本處/組織與人員/1處組織系統圖/核能技術處組織系統圖.doc">處組織系統圖</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/1關於本處/組織與人員/2執行龍門計畫任務編組組織/核能技術處執行龍門計畫任務編組組織圖.doc">執行龍門計畫任務編組組織</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/1關於本處/組織與人員/3核技處工作執掌/核能技術處職掌.doc">核技處工作執掌</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/1關於本處/組織與人員/4辦事細則/核能技術處辦事細則.doc">辦事細則</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/1關於本處/組織與人員/5組織系統圖-英文/核能技術處組織系統圖-%20英文.doc">組織系統圖-英文</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/1關於本處/組織與人員/6執行龍門計畫任務編組組織-英文/核能技術處執行龍門計畫任務編組組織圖-英文.doc">執行龍門計畫任務編組組織-英文</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/1關於本處/組織與人員/7職務代理名單/核能技術處職務代理名單.doc">職務代理名單</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/1關於本處/組織與人員/8人力分析/核能技術處_人力分析圖.xls">人力分析</a></li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                                <a ng-href="http://{{h.host}}/資料/1關於本處/年度目標/年度目標.doc" target="_blank"><strong>年度目標</strong></a>
                                <ul class="list">
                                    <li>
                                        <span>電話簿</span>
                                        <ul class="list">
                                            <li><a ng-href="http://{{h.host}}/資料/1關於本處/電話簿/台北辦公室/dnetel.htm" target="_blank">台北辦公室</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/1關於本處/電話簿/SEO辦公室/dnelm-tel.htm" target="_blank">SEO辦公室</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <h2>工程業務</h2>
                                <ul class="list">
                                    <li>
                                        <strong>龍門計畫業務</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a ui-sref="lungmenIntro">龍門計畫簡介</a></li>
                                            <li>
                                                <strong>SEO相關業務</strong>
                                                <ul class="list">
                                                    <li><i class="icon-right-open"></i><a href="http://10.20.1.5/source/2lco/asp/ddasp.asp" target="_blank">送LCO品質文件清單</a></li>
                                                    <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/support/" target="_blank">電氣Raceway Support管制表</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="http://10.20.3.133" target="_blank">龍門軟體構型管理系統(測試版)</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>運轉中電廠相關資料</strong>
                                        <ul class="list">
                                            <li>
                                                <strong>FSAR</strong>
                                                <ul class="list">
                                                    <li><i class="icon-right-open"></i><a href="http://10.141.13.3/安管股/核一廠FSAR/核一廠FSAR章節.htm" target="_blank">核一廠FSAR</a></li>
                                                    <li><i class="icon-right-open"></i><a href="http://10.142.20.9/FSAR" target="_blank">核二廠FSAR</a></li>
                                                    <li><i class="icon-right-open"></i><a href="http://10.143.15.53/FSAR/FSAR目錄.htm" target="_blank">核三廠FSAR</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>WANO</strong>
                                        <ul class="list">
                                            <li><a href="/wano" target="_blank">追蹤事項</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a ng-href="http://{{h.host}}/資料/2工程業務/4支援大修心得簡報" target="_blank">支援大修心得簡報</a>
                                    </li>
                                </ul>
                                
                            </div>
                            <div class="col-md-4">
                                <h2>查詢系統</h2>
                                <ul class="list">
                                    <li>
                                        <strong>公文查詢</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/swims/CorrespondenceList.asp">公文查詢(新版)</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.20.1.4/source/neddoc/asp/ddasp.asp">公文查詢</a></li>
                                        </ul>
                                    </li>
                               </ul>
                                <ul class="list">
                                    <li>
                                        <strong>SEO業務相關系統</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/overtime/" target="_blank">SEO(AE)加班請假管理系統</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/seo/" target="_blank">編號暨文件修改登錄</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/drawing/" target="_blank">圖檔查詢及修改作業系統</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="list">
                                    <li>
                                        <strong>SEO案件查詢</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a href="http://203.67.79.80/lungmencts/default.aspx" target="_blank">Lungmen CTS</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/document/" target="_blank">管制文件查詢</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/documentfpr/Fpr_List.aspx" target="_blank">FPR處理現況</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/rap" target="_blank">RAP處理現況</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.144.102.191/dcis_iodb_control/" target="_blank">IO/FXDB、DCT查詢</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/seo/filesearch.aspx" target="_blank">SEO歸檔文件查詢</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host2}}/carms/carmslist.aspx" target="_blank">涉及CARMS資料修改查詢</a></li>
                                        </ul>
                                    </li>
                                    <li><a ng-href="http://{{h.host2}}/seoHtml/DneControlLog/DneControlLog.asp" target="_blank">DNE Control Log(新版)</a></li>
                                    <li><a ng-href="http://{{h.host2}}/designdocument/" target="_blank">DNE Control Log(舊版)</a></li>
                                    <li><a ng-href="http://{{h.host2}}/seoHtml/GeIms/J05.asp" target="_blank">GEH IMS-J05查詢</a></li>
                                    <li><a ng-href="http://{{h.host2}}/seoHtml/GeIms/J07.asp" target="_blank">GEH IMS-J07查詢</a></li>
                                </ul>
                                
                                
                                
                                
                                
                                <a ng-href="http://{{h.host}}/Resource/Objectopia.htm" target="_blank">Hitachi Objectopia</a>
                                <h2>核能單位</h2>
                                <ul class="list">
                                    <li>
                                        <strong>總處核能單位</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a href="http://10.18.8.153/" target="_blank">核能發電處</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.19.1.1/" target="_blank">核能安全處</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.57.50.20/nbmd/" target="_blank">核能後端營運處</a></li>
                                            <li><i class="icon-right-open"></i><a href="ftp://10.16.7.109/002%C1%60%B8g%B2z%B0%C6%C1%60%B8g%B2z%AB%C7/%AE%D6%AF%E0%B7%BE%B3q%A4p%B2%D5/" target="_blank">核能溝通中心</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.27.1.119/" target="_blank">核能緊執會</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>各核能發電廠及相關單位</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a href="http://10.141.200.68/" target="_blank">核一廠</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.142.10.11/" target="_blank">核二廠</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.143.13.205/" target="_blank">核三廠</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.144.99.99/" target="_blank">龍門電廠</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.144.99.99/revalidationweb/default.aspx" target="_blank">安全檢測小組</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.67.32.12/" target="_blank">放射試驗室</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.175.20.110/lm/" target="_blank">龍門施工處</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>公司外核能相關單位</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a target="_blank" href="http://www.aec.gov.tw/">原子能委員會</a></li>
                                            <li><i class="icon-right-open"></i><a target="_blank" href="http://www.iner.gov.tw/siteiner/wSite/mp?mp=INER">核能研究所</a></li>
                                            <li><i class="icon-right-open"></i><a target="_blank" href="http://tnaweb.org.tw/">台灣核能級產業發展協會</a></li>
                                            <li><i class="icon-right-open"></i><a target="_blank" href="http://www.nrc.gov/">美國NRC</a></li>
                                            <li><i class="icon-right-open"></i><a target="_blank" href="http://www.epri.com/Pages/Default.aspx">EPRI</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="col-md-4">
                                <h2>日常業務</h2>
                                <ul class="list">
                                    <li>
                                        <strong>處內一般業務</strong>
                                        <ul class="list">
                                            <li><a ng-href="http://{{h.host}}/nuclearjournal/nuclearjournallist.asp"><i class="icon-right-open"></i>核能月刊</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/4日常業務/1處內一般業務/2核安文化/safety1.htm"><i class="icon-right-open"></i>核安文化</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/4日常業務/1處內一般業務/3資通安全/km/km1.htm"><i class="icon-right-open"></i>資通安全</a></li>
                                            <li><i class="icon-right-open"></i><a ui-sref="meeting">會議紀錄</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/source/nedmeeting/loginpjtor.asp">設備預約</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/Resource/MeetingRoomList.asp">會議室預約</a></li>
                                            <li><i class="icon-right-open"></i><a ui-sref="home">行事曆</a></li>
                                        </ul>
                                    <li>
                                        <strong>內部規章</strong>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a href="http://w3-old.taipower.com.tw/" target="_blank">公司章則(W3舊網->各項規章)</a></li>
                                            <li><i class="icon-right-open"></i><a href="http://10.18.8.153/d05607/procedure/核發處內部規章/new_page_2.htm" target="_blank">核能事業部章則</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/procedure/index.htm">處內章則/程序書</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>處資料室</strong>
                                        <ul class="list">
                                            <li><a href="#/sitemap" data-toggle="modal" data-target="#newJournal"><i class="icon-right-open"></i>新到資料</a></li>
                                            <li><a href="#/sitemap" data-toggle="modal" data-target="#newJournalComment"><i class="icon-right-open"></i>核能外文期刊閱覽評註</a></li>
                                            
                                            <li><i class="icon-right-open"></i><a href="http://10.16.10.96/webhelp/tn.htm" target="_blank">核能資訊檢索系統</a></li>
                                            <li><i class="icon-right-open"></i><a ng-href="http://{{h.host}}/feedback/feedbacklist.asp" target="_blank">核能發電回饋系統</a></li>
                                       
                                            <li><i class="icon-right-open"></i><a href="http://portal.taipower.com.tw/wps/myportal/!ut/p/_s.7_0_A/7_0_86H/.cmd/ad/.c/6_0_779/.ce/7_0_86L/.p/5_0_7GL/.d/0#7_0_86L">台電分散式知識管理系統</a></li>


                                            <li><a ng-href="http://{{h.host}}/資料/4日常業務/3處資料室/7國際合作資訊/國際合作資訊 - 例行會議.docx" target="_blank"><i class="icon-right-open"></i>國際合作資訊</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/4日常業務/3處資料室/8研討會資料/report.htm" target="_blank"><i class="icon-right-open"></i>研討會資料</a></li>
                                            <li><a ng-href="http://{{h.host}}/資料/4日常業務/3處資料室/9訓練教材" target="_blank"><i class="icon-right-open"></i>訓練教材</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <h2>常用連結</h2>
                                <ul class="list">
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://w3.taipower.com.tw/tpc/web/index.aspx">公司內部企業網站</a></li>
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://www.taipower.com.tw/">台灣電力公司網站</a></li>
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://www.taipower.com.tw/content/new_info/new_info01.aspx">公司營運資訊揭露</a></li>
                                    <li>
                                        <span>網路學習</span>
                                        <ul class="list">
                                            <li><i class="icon-right-open"></i><a href="https://elearning.taipower.com.tw/eHRDWeb/Login.html" target="_blank">台電網路學院</a></li>
                                            <li><i class="icon-right-open"></i><a href="https://elearning.hrd.gov.tw/index.php" target="_blank">E等公務園學習網</a></li>
                                        </ul>
                                    </li>
                                    <li><i class="icon-right-open"></i><a target="_blank" href="https://webmail.taipower.com.tw/">Webmail</a></li>
                                </ul>
                                <h2>同心園地</h2>
                                <ul class="list">
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://10.10.7.200/tph2h2/index.asp">總管理處同心園地</a></li>
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://10.19.1.1/同心園地.htm">核能發電系統同心園地</a></li>
                                    <li><a target="_blank" ui-sref="underConstruction">核技處同心園地</a></li>
                                    <li><i class="icon-right-open"></i><a target="_blank" ng-href="http://{{h.host2}}/board/board.aspx">核技處留言板</a></li>

                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://10.18.8.153/d05608/together/index.html">核發處同心園地</a></li>
                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://10.19.1.1/核安同心園地.htm">核安處同心園地</a></li>

                                    <li><i class="icon-right-open"></i><a target="_blank" href="http://10.57.50.18/garden/">核後端同心園地</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- main end -->

                </div>
            </div>
        </section>
        <!-- main-container end -->        <!-- footer start (Add "light" class to #footer in order to enable light footer) -->
        <!-- ================ -->
   
