<!-- banner start -->
<!-- ================ -->
<div class="banner">
    <div class="fixed-image section light-translucent-bg" style="background-image:url('../../../images/regular/meeting/growth_meetings-resized-600.jpg');background-position: center">
        <div class="container">
            <div class="space-top"></div>

        </div>
    </div>
</div>
<!-- banner end -->
<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                    <li class=""><a href="#">一般業務</a></li>
                    <li class="active">會議紀錄</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->
<!-- main-container start -->
<!-- ================ -->
<section id="chronicle" class="main-container">

    <div class="container">
        <div class="row">
            <!-- sidebar start -->
            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">會議紀錄</h3>
                        <div class="separator"></div>
                        <nav class="affix-menu">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">處內會議紀錄</a></li>
                                <li><a href="http://10.16.10.150/hl/HLmeeting/index.htm" target="_blank">核能高階會議紀錄</a></li>
                                <li><a href="http://10.16.17.10/MOS/MO06AGOP/MO06AGOP006.ASP?id=guest" target="_blank">大會報會議紀錄</a></li>
                                <li><a href="http://w3-old.taipower.com.tw/d001/DynaInfo.htm" target="_blank">公司經營會議</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-9" ng-controller="meetingGridCtrl as m">

               <button id='toggleFiltering' ng-click="m.toggleFiltering()" class="btn btn-success"><span ng-bind="m.searchTextToggle"></span>簡易搜尋</button>
                <a href="/meetings" target="_blank" class="btn btn-info pull-right">管理</a>
                <div id="meetingGrid" ui-grid="m.gridOptions" style="width:auto;height:auto" ui-grid-resize-columns ui-grid-selection ui-grid-pagination>
                </div>
                
                <span class="clearfix"></span>


            </div>
            <!-- main end -->


        </div>
    </div>
</section>
<!-- main-container end -->
