
@{
    
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">首頁</a></li>
                    <li class="active">錯誤訊息</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>@ViewBag.Message</h2>
</div>

