

<!-- section start -->
<!-- ================ -->
<div class="gray-bg section">
    <div class="container">
        <h1 class="text-center title">核心業務</h1>
        <div class="separator"></div>
        <div class="row grid-space-20">
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                    <div class="overlay-container shadow">
                        <img src="images/portfolio-3.png" alt="">
                    </div>
                    <h3><a href="../../../lungmen.html">龍門計畫</a></h3>
                    <p>(簡單說明)</p>
                    <a href="../../../lungmen.html" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
                    <div class="overlay-container shadow">
                        <img src="images/portfolio-2.png" alt="">

                    </div>
                    <h3><a href="portfolio-item.html">電廠改善工程</a></h3>
                    <p>(簡單說明)</p>
                    <a href="#" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
                    <div class="overlay-container shadow">
                        <img src="images/portfolio-1.png" alt="">
                    </div>
                    <h3><a href="portfolio-item.html">研究發展計畫</a></h3>
                    <p>(簡單說明)</p>
                    <a href="#" class="btn btn-default">了解更多.....</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->




