<div class="tp-caption modern_medium_fat_white sfr tp-resizeme"
	data-x="75"
	data-y="100" 
	data-speed="600"
	data-start="1200"
	data-end=""
	data-endspeed="600">
    <div>
        <h1 class="box-title-green">企業核心價值</h1>
        <div class="row">
            <div class="col-md-6">
				<div class="box-style-3">
					<div class="icon-container default-bg">
						<i class="fa fa-comment"></i>
					</div>
					<div class="body">
						<h2 class="box-title-green">TBD</h2>
						<p>......</p>
						
					</div>
				</div>
				<div class="box-style-3">
					<div class="icon-container default-bg">
						<i class="fa fa-heart"></i>
					</div>
					<div class="body">
						<h2 class="box-title-green">TBD</h2>
						<p>......</p>
						
					</div>
				</div>
                
                <div class="box-style-3">
					<div class="icon-container default-bg">
						<i class="fa fa-users"></i>
					</div>
					<div class="body">
						<h2 class="box-title-green">TBD</h2>
						<p>......</p>
						
					</div>

                    
				</div>
            </div>
		</div>
    </div>
</div>



