@model System.Web.Mvc.HandleErrorInfo

@{
    
}

<div class="container">
    <h2 class="text-danger">您可能權限不足或進行不正常操作，請洽系統管理員</h2>
    <h2> 或請您<a href="/account/easylogoff">登出</a>後再嘗試</h2>
    <a class="btn btn-primary" ui-sref="home">返回首頁</a>
</div>

