

<div ui-view class="anim-in-out anim-swap"></div>


@section scripts{

    

    <!-- Controllers -->
    
    <script src="~/client/controllers/calendar/calViewController.js"></script>
    
    <script src="~/client/controllers/common/modalController.js"></script>

    
    <script src="~/client/controllers/RSSFeed/feedController.js"></script>
    <script src="~/client/controllers/postGridController.js"></script>
    <script src="~/client/controllers/meetingGridController.js"></script>



    <!-- Directives -->
    <script src="~/client/directives/directives.js"></script>

    <!-- Servicess -->
    <script src="~/client/services/service.js"></script>
}