

<div ui-view></div>


@section scripts{

<!-- jQuery REVOLUTION Slider  -->
<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Isotope javascript -->
<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>

<!-- Owl carousel javascript -->
<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>

<!-- Magnific Popup javascript -->
<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Appear javascript -->
<script type="text/javascript" src="plugins/jquery.appear.js"></script>

<!-- Count To javascript -->
<script type="text/javascript" src="plugins/jquery.countTo.js"></script>

<!-- Parallax javascript -->
<script src="plugins/jquery.parallax-1.1.3.js"></script>

<!-- Contact form -->
<script src="plugins/jquery.validate.js"></script>

<!-- SmoothScroll javascript -->
<script type="text/javascript" src="plugins/jquery.browser.js"></script>
<script type="text/javascript" src="plugins/SmoothScroll.js"></script>



<!-- qTip2 -->
<script src="plugins/qTip2/jquery.qtip.js"></script>
<script src="plugins/qTip2/imagesloaded.pkg.min.js"></script>


<!-- Initialization of Plugins -->
<script type="text/javascript" src="js/template.js"></script>


    <!-- AngularJS Core-->
    <script src="assets/vendor/angular/angular.min.js"></script>
    <script src="assets/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/vendor/angular-animate/angular-animate.min.js"></script>

    <!-- Angular UI Calendar -->
    <script src="plugins/fullcalendar/lib/moment.min.js"></script>
    <script src="assets/vendor/angular-ui-calendar/src/calendar.js"></script>
    <script src="~/assets/vendor/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/assets/vendor/fullcalendar/dist/gcal.js"></script>
    <script src="~/assets/vendor/fullcalendar/dist/lang-all.js"></script>
    


    <!-- AngularUI Bootstrap-->
    <script src="assets/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- Angular UI DateTimePicker -->
    <script src="assets/vendor/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
    <script src="assets/vendor/bootstrap-ui-datetime-picker/dist/datetime-picker.tpls.js"></script>

    <!-- AngularStrap-->
    <script src="assets/vendor/angular-strap/dist/angular-strap.min.js"></script>
    <script src="assets/vendor/angular-strap/dist/angular-strap.tpl.min.js"></script>

    <!-- AngularJS MainApp-->

    <script src="client/app.js"></script>
    <script src="client/router.js"></script>

    <!-- Controllers -->
    <script src="client/controllers/maincontroller.js"></script>
    <script src="client/controllers/calendar/calViewController.js"></script>
    <script src="client/controllers/calendar/calAdminController.js"></script>
    <script src="client/controllers/calendar/calModalController.js"></script>
    <script src="client/controllers/calendar/datetimeController.js"></script>

    <!-- Directives -->
    <script src="client/directives/directives.js"></script>

    <!-- Servicess -->
    <script src="client/services/calService.js"></script>
    <script src="client/services/service.js"></script>
}