

<div ui-view></div>


@section scripts{
    <!-- AngularJS Core-->
    <script src="assets/vendor/angular/angular.min.js"></script>
    <script src="assets/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/vendor/angular-animate/angular-animate.min.js"></script>

    <!-- Angular UI Calendar -->
    <script src="plugins/fullcalendar/lib/moment.min.js"></script>
    <script src="assets/vendor/angular-ui-calendar/src/calendar.js"></script>
    <script src="plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="plugins/fullcalendar/lang-all.js"></script>


    <!-- AngularUI Bootstrap-->
    <script src="assets/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- Angular UI DateTimePicker -->
    <script src="assets/vendor/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
    <script src="assets/vendor/bootstrap-ui-datetime-picker/dist/datetime-picker.tpls.js"></script>

    <!-- AngularStrap-->
    <script src="assets/vendor/angular-strap/dist/angular-strap.min.js"></script>
    <script src="assets/vendor/angular-strap/dist/angular-strap.tpl.min.js"></script>

    <!-- AngularJS MainApp-->

    <script src="client/app.js"></script>
    <script src="client/router.js"></script>

    <!-- Controllers -->
    <script src="client/controllers/maincontroller.js"></script>
    <script src="client/controllers/calendar/calViewController.js"></script>
    <script src="client/controllers/calendar/calAdminController.js"></script>
    <script src="client/controllers/calendar/calModalController.js"></script>
    <script src="client/controllers/calendar/datetimeController.js"></script>

    <!-- Directives -->
    <script src="client/directives/directives.js"></script>

    <!-- Servicess -->
    <script src="client/services/calService.js"></script>
    <script src="client/services/service.js"></script>
}